<ion-header>
  <ion-toolbar  class="header-footer-background-color">

    <ion-buttons slot="start"  class="header-footer-component">
      <ion-back-button routerLink="/detect/crop-cropvar"></ion-back-button>
    </ion-buttons>

    <ion-title class="header-footer-component">{{ 'CROPS.header' | translate }}</ion-title>

    <ion-button (click)="presentPopover($event)" fill="clear" slot="end">
      <ion-icon slot="icon-only" name="ellipsis-vertical-outline" class="header-footer-component"></ion-icon>
    </ion-button>
    <ion-popover #popover [isOpen]="isOpen" (didDismiss)="isOpen = false" >
      <ng-template >
       <ion-content style="background-color: rgb(19, 1, 1);">

        <ion-list style="background-color: rgb(19, 1, 1);">
          <ion-radio-group value="en" [(ngModel)]='language' (ionChange)='languageChange()'>

            <ion-item color="rgb(19, 1, 1)">
              <ion-label style="color: #ffffff;">English</ion-label>
              <ion-radio slot="end" value='en' (click)="isOpen = false"></ion-radio>
            </ion-item>

            <ion-item color="rgb(19, 1, 1)">
              <ion-label style="color: #ffffff;">සිංහල</ion-label>
              <ion-radio slot="end" value='si' (click)="isOpen = false"></ion-radio>
            </ion-item>

            <ion-item color="rgb(19, 1, 1)">
              <ion-label style="color: #ffffff;">தமிழ்</ion-label>
              <ion-radio slot="end" value='ta' (click)="isOpen = false"></ion-radio>
            </ion-item>

          </ion-radio-group>
        </ion-list>

       </ion-content>
      </ng-template>
    </ion-popover>
  </ion-toolbar>

</ion-header>

<ion-content style="--background: rgb(19, 1, 1);">

  <ion-segment value="default">

    <ion-segment-button routerLink="/detect/crop-cropvar/crops-varieties" value="default">
      <ion-label style="color: #ffffff; font-size: 18px;">{{ 'CROPS.header' | translate }}</ion-label>
    </ion-segment-button>

    <ion-segment-button (click)="govariety()">
      <ion-label style="color: #ffffff; font-size: 18px;">{{ 'CROPS.title1' | translate }}</ion-label>
    </ion-segment-button>

  </ion-segment>

  <br>
  <h4 style="color: #ffffff;">{{ 'CROPS.title2' | translate }}</h4>
  <br>

  <div *ngFor="let crop of crops$|async">
    <ion-item style="--background: rgb(19, 1, 1);" (click)="openvarietiesModal(crop); cropselect(crop)">
      <img src="{{crop.img_path}}"><ion-label style="color: #ffffff; font-size: 20px;">{{crop.translatable_crop_name}}</ion-label>
      <ion-icon name="chevron-forward-outline" style="color: #5cf304;" slot="end"></ion-icon>
    </ion-item>
    <br>
  </div>

</ion-content>

<ion-footer [translucent]="true">
  <ion-toolbar  class="header-footer-background-color">
    <div id="footer" class="header-footer-component">
      <ion-button routerLink="/firstpage"  fill="clear">
        <ion-icon slot="icon-only" name="home" size="large" class="header-footer-component"></ion-icon>
      </ion-button>
      <br>{{ 'CROPS.footer' | translate }}
    </div>
  </ion-toolbar>
</ion-footer>
