<ion-header [translucent]="true">
  <ion-toolbar class="header-footer-background-color">

    <ion-buttons slot="start">
      <ion-back-button routerLink="/thome" class="header-footer-component"></ion-back-button>
    </ion-buttons>

    <ion-title class="header-footer-component">அமைப்புகள்</ion-title>

    <ion-button (click)="presentPopover($event)" fill="clear" slot="end">
      <ion-icon slot="icon-only" name="ellipsis-vertical-outline" class="header-footer-component"></ion-icon>
    </ion-button>
    <ion-popover #popover [isOpen]="isOpen" (didDismiss)="isOpen = false" >
      <ng-template >
       <ion-content style="background-color: rgb(19, 1, 1);">

        <ion-list style="background-color: rgb(19, 1, 1);">
          <ion-radio-group value="tamil">
            <ion-item color="rgb(19, 1, 1)">
              <ion-label color="light">English</ion-label>
              <ion-radio slot="end" value="english" (click)="isOpen = false" routerLink="/settings"></ion-radio>
            </ion-item>
        
            <ion-item color="rgb(19, 1, 1)">
              <ion-label color="light">සිංහල</ion-label>
              <ion-radio slot="end" value="sinhala" (click)="isOpen = false" routerLink="/ssettings"></ion-radio>
            </ion-item>

            <ion-item color="rgb(19, 1, 1)">
              <ion-label color="light">தமிழ்</ion-label>
              <ion-radio slot="end" value="tamil" (click)="isOpen = false" routerLink="/tsettings"></ion-radio>
            </ion-item>
        
          </ion-radio-group>
        </ion-list>
        
       </ion-content>
      </ng-template>
    </ion-popover>

  </ion-toolbar>
</ion-header>

<ion-content style="--background: rgb(19, 1, 1);">
    <br>
    <strong style="color: #ffffff; font-size: 20px;">பொது </strong>
    <br><br>
  
    <ion-item style="--background: rgb(19, 1, 1);" routerLink="/tsettings/tappsettings">
         <ion-icon slot="start" name="settings" style="color: #f70707;" size="large"></ion-icon>
         <p align="Left" style="color: #5cf304;">App அமைப்புகள்<br>
         <ion-text style="font-size: 14px; color: #ffffff;">மொழி மற்றும் notification 
          முதலியன மாற்ற</ion-text>
         </p>
    </ion-item>
    
    <br><br>
    <strong style="color: #ffffff; font-size: 20px;">வேறு</strong>
    <br><br>
  
    <ion-item style="--background: rgb(19, 1, 1);">
         <ion-icon slot="start" name="paper-plane" style="color: #14f8e5;" size="large"></ion-icon>
         <p align="Left" style="color: #5cf304;">வரவேற்பு  சுற்றுப்பயணம்<br>
         <ion-text style="font-size: 14px; color: #ffffff;">Doctor-Crop எளிதாக பயன்படுத்த</ion-text>
         </p>
    </ion-item >
    <br>
    
    <ion-item style="--background: rgb(19, 1, 1);" routerLink="/tsettings/tabout">
       <ion-icon slot="start" name="alert-circle-outline" style="color: #f7f307;" size="large"></ion-icon>
       <p align="left" style="color: #5cf304;">பற்றி</p>
    </ion-item>
  
</ion-content>


<ion-footer [translucent]="true">
  <ion-toolbar class="header-footer-background-color">
    <div id="footer" style="font-size: 10px;" class="header-footer-component">
      <ion-button routerLink="/thome"  fill="clear">
        <ion-icon slot="icon-only" name="home" size="large" class="header-footer-component"></ion-icon>
      </ion-button>
      <br><b>முகப்பு பக்கம்</b>
    </div>
  </ion-toolbar>
</ion-footer>