<ion-header>
  <ion-toolbar class="header-footer-background-color">
    <ion-buttons slot="start" (click)="closeModal()">
      <ion-icon slot="icon-only" name="arrow-back-outline" class="header-footer-component"></ion-icon>
    </ion-buttons>

    <ion-title class="header-footer-component">{{ variety.variety_name }} - Diseases</ion-title>


  </ion-toolbar>
</ion-header>

<ion-content style="--background: rgb(19, 1, 1);">
  <div id="top"></div>
  <br>

  <div>
    <ion-text style="color: #ffffff;">Click on a Disease name to see details</ion-text>
    <br><br>

    <div *ngFor="let diseasetype of diseasetypes$|async">
      <ion-item (click)="nothing()" style="--background: rgb(19, 1, 1);">
        <h3 style="color: #ffffff; font-size: 20px;"><b>{{ diseasetype.disease_type }}</b></h3><br>
      </ion-item>
      <div *ngFor="let disease of diseases$|async">
        <div *ngIf="diseasetype.disease_type == disease.disease_type">
          <ion-item (click)="openDiseaseDetailsModal(disease)" style="--background: rgb(19, 1, 1);">
            <img src="{{disease.img_path}}">
            <ion-text style="color: #ffffff; font-size: 16px;">{{ disease.disease_name }}</ion-text>
            <ion-icon name="chevron-forward-outline" style="color: #5cf304;" slot="end"></ion-icon>
           </ion-item>
        </div>
      </div>
    </div>

  </div>
  <br>

  </ion-content>




  <ion-footer [translucent]="true">
    <ion-toolbar class="header-footer-background-color">
      <div id="footer" class="header-footer-component">
        <ion-button routerLink="/firstpage"  fill="clear" (click)="closeAllModals()">
          <ion-icon slot="icon-only" name="home" size="large" class="header-footer-component"></ion-icon>
        </ion-button>
        <br>Home
      </div>
    </ion-toolbar>
  </ion-footer>

