<ion-header>
  <ion-toolbar>
    <ion-title>about</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >

<h5>Disclaimer</h5>
<p align="justify">
  By downloading, accessing or using Doctor-Crop mobile app, you signify your assent to this disclaimer.<br> 
  The content of this app, including without limitations, all data, information,text, graphics, links and other materials are provided as a convenience to our app users and are meant to be used for informational purposes only.
</p>
</ion-content>
