<ion-header>
  <ion-toolbar class="header-footer-background-color">
    <ion-buttons slot="start">
      <ion-back-button routerLink="/detect/crop-cropvar/crops/brinjal"  class="header-footer-component"></ion-back-button>
    </ion-buttons>

    <ion-title class="header-footer-component" >Pest</ion-title>

    <ion-button (click)="presentPopover($event)" fill="clear" slot="end">
      <ion-icon slot="icon-only" name="ellipsis-vertical-outline" class="header-footer-component"></ion-icon>
    </ion-button>
    <ion-popover #popover [isOpen]="isOpen" (didDismiss)="isOpen = false" >
      <ng-template >
       <ion-content style="background-color: rgb(19, 1, 1);">

        <ion-list style="background-color: rgb(19, 1, 1);">
          <ion-radio-group value="english">
            <ion-item color="rgb(19, 1, 1)">
              <ion-label color="light">English</ion-label>
              <ion-radio slot="end" value="english" (click)="isOpen = false" routerLink="/detect/crop-cropvar/crops/brinjal/pest-diseases/pest"></ion-radio>
            </ion-item>
        
            <ion-item color="rgb(19, 1, 1)">
              <ion-label color="light">සිංහල</ion-label>
              <ion-radio slot="end" value="sinhala" (click)="isOpen = false" routerLink="/sdetect/scrop-cropvar/scrops/sbrinjal/spest-diseases/spest"></ion-radio>
            </ion-item>
        
            <ion-item color="rgb(19, 1, 1)">
              <ion-label color="light">தமிழ்</ion-label>
              <ion-radio slot="end" value="tamil" (click)="isOpen = false" routerLink="/tdetect/tcrop-cropvar/tcrops/tbrinjal/tpest-diseases/tpest"></ion-radio>
            </ion-item>

          </ion-radio-group>
        </ion-list>
        
       </ion-content>
      </ng-template>
    </ion-popover>
  </ion-toolbar>
</ion-header>

<ion-content  style="--background: rgb(19, 1, 1);">
  <br>
  <h5><b style="font-size:18px; text-align:center; color: white;">Pest types</b></h5><br>
  
  <ion-item style="--background: rgb(19, 1, 1);">
    <ion-button expand="full" (click)="slidedown1()" fill="clear" >
      <h6 style="color: #5cf304; font-size: 16px;">1) Borer and fruit borer</h6>
      <ion-icon name="{{updownicon1}}" slot="end" style="color: #5cf304; font-size: 16px;"></ion-icon>
    </ion-button>
  </ion-item>
  
  
  <div [hidden]=ishidden1>
    <ion-card style="--background: rgb(19, 1, 1);">
      <ion-card-content style="color: #ffffff; font-size: 17px;">
        <ion-text>
          
          <b> symptoms:</b>
         <ul> 
          <li>Damage can be identified by drooping stems and black holes in the fruit.</li>
          <br>
          <li> The pores are filled with excretory material.</li>
          <br>
          <li>Larvae can be seen when damaged pods and fruit are cut. </li>
          <br>
          <li>Plant growth is stunted due to larval damage.</li>
          </ul>
        </ion-text>
  
        <br>
          <img src="assets/crops/brinjal/detect/pest/Stem-and-Fruit-borer-in-Brinjal.jfif" class="img1">
          <br>
          <img src="assets/crops/brinjal/detect/pest/Brinjal-Shoot-Borer-and-Fruit-Borer.jfif" class="img1" style="margin-left: 0">
        <br><br>
  
        <ion-text>
          <b> Management </b>
         <ul> 
          <li>Applying a live or non-living barrier (corn, sorghum or insect resistant net) around the brinjal field to a height of abo
            ut 2 m.</li>
          <br>
          <li> When this damage was first seen in cultivated plants, cut underneath the affected parts of the damaged area and remo
            ve them from the plant and destroy them.</li>
         <br>
          <li>Check the crop once a week.</li>
          <br>
          <li>This damage can be controlled by spraying a suitable insecticide at the time of 50% flowering.
          </li>
          <br>
          <li>Gain an understanding of the number of damaged fruit at harvest and apply a recommended insecticide only if the nu
            mber of damaged fruit is more than 5%.</li>
          <br>
          <li>Pay attention to pre-harvest timing and avoid continuous use of the same insecticide.</li>
          <br>
          <li>Be aware of pre-harvest timing when applying insecticides at harvest.</li>
          <br>
          <li>Chemical suppression
            <ul>Apply recommended agrochemicals as recommended</ul>
            </li>
        </ul>
        </ion-text>
      </ion-card-content>
    </ion-card>
  </div>

  <br>
<ion-item style="--background: rgb(19, 1, 1);">
<ion-button expand="full" (click)="slidedown2()" fill="clear">
  <h6 style="color: #5cf304; font-size: 16px;">2) Leaf-shrinking caterpillar</h6>
  <ion-icon name="{{updownicon2}}" slot="end" style="color: #5cf304; font-size: 16px;"></ion-icon>
</ion-button>
</ion-item>

<div [hidden]=ishidden2>
<ion-card style="--background: rgb(19, 1, 1);">
  <ion-card-content style="color: #ffffff; font-size: 17px;">
    <ion-text>
      <b>Psara bipunctalis (Order-Lepidoptera, Family-Pyralidae)</b>  <br> <br>
      
      <b> symptoms:</b>
     <ul> 
      <li> A few leaves of the plant are bunched up and the larvae are fed in them. </li>
      <br>
      <li> Here the remaining parts are eaten except the leaf's veinal.</li>
      <br>
      <li> The growth of the plant is stunted due to the destruction of the apical leaves. </li>
      </ul> 
    </ion-text>

      <br>
        <img src="assets/crops/brinjal/detect/pest/Eggplant-caterpillar-Leaf-rolling-catepillar.jfif" class="img2">
     <br><br>

      <ion-text>
      <b>  Management</b>
    <ul> 
      <li>Break up and destroy the tightly packed leaves.</li>
      <br>
      <li>Apply recommended agrochemicals as recommended</li>
      <br>
      <li>Harvest only after at least 7-10 days of applying a recommended insecticide.</li>
    </ul>

    </ion-text>
  </ion-card-content>
</ion-card>
</div>

<br>
<ion-item  style="--background: rgb(19, 1, 1);">
<ion-button expand="full" (click)="slidedown3()" fill="clear">
  <h6 style="color: #5cf304; font-size: 16px;"> 3) Leaf aphid</h6>
  <ion-icon name="{{updownicon3}}" slot="end" style="color: #5cf304; font-size: 16px;"></ion-icon>
</ion-button>
</ion-item>

<div [hidden]=ishidden3>
<ion-card style="--background: rgb(19, 1, 1);">
  <ion-card-content style="color: #ffffff; font-size: 17px;">
    <ion-text>
      <b>(Amrasca Spp.) (Order-Homoptera, Family-Cicadellidae)</b>  <br> <br>
      
      <b> symptoms:</b>
    <ul> 
      <li>The emerging adult is light green and both the emerging adult and the larva causes damage to the plant.</li>
      <br>
      <li>Sap sucking from the underside of the leaf causes leaf shrinkage, curling, and yellowing from the leaf edge to the mi
        ddle.
        Therefore, th</li>
      <br>
      <li>Therefore, the growth of the plant is weak. </li>
      <br>
      <li>It also acts as the vector of phytoplasma (small leaf blight) which infects the brinjal crop.</li>
      </ul> <br>
    </ion-text>

    <br>
      <img src="assets/crops/brinjal/detect/pest/Tiny-Leafhopper-insect(Cicadellidae,Homoptera)on-a-leaf-in-the-garden.jpg" class="img1">
    <br> <br>

    <ion-text>

      <b>  Management</b>
     <ul> 
      <li>Good crop maintenance and in case of widespread damage, control with a recommended insecticide.</li>
      <br>
      <li>Apply recommended agrochemicals as recommended.</li>
    </ul>

    </ion-text>
  </ion-card-content>
</ion-card>
</div>

<br>

<ion-item style="--background: rgb(19, 1, 1);">
  <ion-button expand="full" (click)="slidedown4()" fill="clear">
    <h6 style="color: #5cf304; font-size: 16px;">4) Mite damage </h6>
    <ion-icon name="{{updownicon4}}" slot="end" style="color: #5cf304; font-size: 16px;"></ion-icon>
  </ion-button>
</ion-item>

<div [hidden]=ishidden4>
  <ion-card style="--background: rgb(19, 1, 1);">
    <ion-card-content style="color: #ffffff; font-size: 17px;">
      <ion-text>
        
        <b> symptoms:</b>
      <ul> 
        <li> Mites suck sap from leaves and fruits. When the juice is sucked from the fruit, the outer skin of the fruit becomes ro
          ugh and turns brown.</li>
        <br>
        <li>The fruits are distorted.</li>
        <br>
        <li>When damaging the leaves, the mites are more common on the underside, and leaf rolling, browning, and dry diebac
          k are seen. </li>
        <br>
        <li>In the early stages of leaf damage caused by spider mites, the surface of the leaves may turn yellow in places.</li>
        </ul>
      </ion-text>

      <br>
        <img src="assets/crops/brinjal/detect/pest/Spidaer-mites-injury-to-eggplant.jpg" class="img1">
        <br>
        <img src="assets/crops/brinjal/detect/pest/red-spider-mites.jpg" class="img1" style="margin-left:0">
      <br><br>

      <ion-text>
        <b> Management </b>
     <ul> 
        <li>Good crop maintenance and adequate irrigation (especially under dry weather conditions); water deficit crops are mo
          re susceptible to damage.</li>
        <br>
        <li>Spray irrigation can reduce the mite population in the crop.</li>
        <br>
        <li>If damage spreads, control with a recommended insecticide.</li>
      </ul>
      </ion-text>
    </ion-card-content>
  </ion-card>
</div>

</ion-content>

<ion-footer [translucent]="true">
  <ion-toolbar class="header-footer-background-color">
    <div id="footer" class="header-footer-component">
      <ion-button routerLink="/home"  fill="clear">
        <ion-icon slot="icon-only" name="home" size="large" class="header-footer-component"></ion-icon>
      </ion-button>
      <br><b>Home</b>
    </div>
  </ion-toolbar>
</ion-footer>