<ion-header>
  <ion-toolbar class="header-footer-background-color">
    <ion-buttons slot="start" (click)="closeModal()" routerLink="/detect/questions">
      <ion-icon slot="icon-only" name="arrow-back-outline" class="header-footer-component"></ion-icon>
    </ion-buttons>

    <ion-title class="header-footer-component">Results</ion-title>


  </ion-toolbar>
</ion-header>

<ion-content  style="--background: rgb(19, 1, 1);">
  <br>
  <div>
    <ion-text style="color: #ffffff;">Click on a pest or disease name to see details</ion-text>
    <br>

    <div *ngIf="pestsordiseases == 'pests'">
      <h3 style="color: #ffffff;">Pests</h3>
      <div *ngFor="let pest of pests$|async">
        <ion-item style="--background: rgb(19, 1, 1);" (click)="openpestModal(pest)">
          <img src="{{pest.img_path}}">
        <ion-text style="color: #ffffff; font-size: 16px;">{{ pest.pest_name }}</ion-text>
        <ion-icon name="chevron-forward-outline" style="color: #5cf304;" slot="end"></ion-icon>
        </ion-item>
      </div>
    </div>

    <div *ngIf="pestsordiseases == 'diseases'">
      <h3 style="color: #ffffff;">Diseases</h3>
      <div *ngFor="let disease of diseases$|async">
        <ion-item style="--background: rgb(19, 1, 1);" (click)="opendiseaseModal(disease)">
          <img src="{{disease.img_path}}">
            <ion-text style="color: #ffffff; font-size: 16px;">{{ disease.disease_name }}</ion-text>
            <ion-icon name="chevron-forward-outline" style="color: #5cf304;" slot="end"></ion-icon>
        </ion-item>
      </div>
    </div>

    <div *ngIf="pestsordiseases == 'not identified'">

      <h3 style="color: #ffffff;">Pests</h3>
      <div *ngFor="let pest of pests$|async">
        <ion-item style="--background: rgb(19, 1, 1);" (click)="openpestModal(pest)">
          <img src="{{pest.img_path}}">
        <ion-text style="color: #ffffff; font-size: 16px;">{{ pest.pest_name }}</ion-text>
        <ion-icon name="chevron-forward-outline" style="color: #5cf304;" slot="end"></ion-icon>
        </ion-item>
      </div><br>

      <h3 style="color: #ffffff;">Diseases</h3>
      <div *ngFor="let disease of diseases$|async">
        <ion-item style="--background: rgb(19, 1, 1);" (click)="opendiseaseModal(disease)">
          <img src="{{disease.img_path}}">
            <ion-text style="color: #ffffff; font-size: 16px;">{{ disease.disease_name }}</ion-text>
            <ion-icon name="chevron-forward-outline" style="color: #5cf304;" slot="end"></ion-icon>
        </ion-item>
      </div>

    </div>

  </div>
  <br>

</ion-content>

<ion-footer [translucent]="true">
  <ion-toolbar class="header-footer-background-color">
    <div id="footer" class="header-footer-component">
      <ion-button fill="clear" (click)="closeAllModals()" routerLink="/home">
        <ion-icon slot="icon-only" name="home" size="large" class="header-footer-component"></ion-icon>
      </ion-button>
      <br>Home
    </div>
  </ion-toolbar>
</ion-footer>
