<ion-header>
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-back-button routerLink="/ssettings"></ion-back-button>
    </ion-buttons>

    <ion-title><b>යෙදුම් ආශ්‍රිත සැකසුම්</b></ion-title>

    <ion-button (click)="presentPopover($event)" fill="clear" slot="end">
      <ion-icon slot="icon-only" name="ellipsis-vertical-outline" color="dark"></ion-icon>
    </ion-button>
    <ion-popover #popover [isOpen]="isOpen" (didDismiss)="isOpen = false" >
      <ng-template >
       <ion-content style="background-color: rgb(20, 17, 17);">

        <ion-list style="background-color: rgb(20, 17, 17);">
          <ion-radio-group value="sinhala">
            <ion-item color="rgb(19, 1, 1)">
              <ion-label color="light">English</ion-label>
              <ion-radio slot="end" value="english" (click)="isOpen = false" routerLink="/settings/appsettings"></ion-radio>
            </ion-item>
        
            <ion-item color="rgb(19, 1, 1)">
              <ion-label color="light">සිංහල</ion-label>
              <ion-radio slot="end" value="sinhala" (click)="isOpen = false" routerLink="/ssettings/sappsettings"></ion-radio>
            </ion-item>
        
          </ion-radio-group>
        </ion-list>
        
       </ion-content>
      </ng-template>
    </ion-popover>
  </ion-toolbar>
</ion-header>

<ion-content  style="--background: rgb(19, 1, 1);">
  <br><br>
  <ion-text style="color: #5cf304;">General</ion-text>
  <br>
  <br>
   <ion-item>
      <ion-icon slot="start" name="settings"></ion-icon>
      <ion-text align="center">කැමති භාෂාව</ion-text>
      
      <select name="languages" id="languages" slot="end" >
        <option value="English">English</option>
        <option value="සිංහල" selected>සිංහල</option>

      </select>
   </ion-item>
</ion-content>

<ion-footer [translucent]="true">
  <ion-toolbar>
    <div id="footer">
      <ion-button routerLink="/shome"  fill="clear">
        <ion-icon slot="icon-only" name="home" size="large"></ion-icon>
      </ion-button>
      <br><b>මුල් පිටුව</b>
    </div>
  </ion-toolbar>
</ion-footer>