<ion-header>
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-back-button routerLink="/sprevent"></ion-back-button>
    </ion-buttons>

    <ion-title>බෝගය හෝ බෝගය සහ ප්‍රභේදය</ion-title>

    <ion-button (click)="presentPopover($event)" fill="clear" slot="end">
      <ion-icon slot="icon-only" name="ellipsis-vertical-outline"></ion-icon>
    </ion-button>
    <ion-popover #popover [isOpen]="isOpen" (didDismiss)="isOpen = false" >
      <ng-template >
       <ion-content style="background-color: rgb(19, 1, 1);">

        <ion-list style="background-color: rgb(19, 1, 1);">
          <ion-radio-group value="sinhala">
            <ion-item color="rgb(19, 1, 1)">
              <ion-label color="light">English</ion-label>
              <ion-radio slot="end" value="english" (click)="isOpen = false" routerLink="/prevent/crop-cropvar"></ion-radio>
            </ion-item>
        
            <ion-item color="rgb(19, 1, 1)">
              <ion-label color="light">සිංහල</ion-label>
              <ion-radio slot="end" value="sinhala" (click)="isOpen = false" routerLink="/sprevent/scrop-cropvar"></ion-radio>
            </ion-item>

            <ion-item color="rgb(19, 1, 1)">
              <ion-label color="light">தமிழ்</ion-label>
              <ion-radio slot="end" value="tamil" (click)="isOpen = false" routerLink="/tprevent/tcrop-cropvar"></ion-radio>
            </ion-item>
        
          </ion-radio-group>
        </ion-list>
        
       </ion-content>
      </ng-template>
    </ion-popover>

  </ion-toolbar>
</ion-header>

<ion-content>
  <p style="font-size:24px; text-align:center;"><b> බෝග හෝ බෝග සහ වර්ග තෝරන්න</b></p>
  <br>
  
    <ion-item>
      <img src="/assets/crops1.jpg" slot="start" style="height:50px;width:50px;">
      <ion-text style="font-size:20px;">බෝග</ion-text>
      <ion-icon name="chevron-forward-outline" slot="end"></ion-icon>
    </ion-item> <br>
  
    <ion-item>
      <img src="/assets/crop-varieties1.jpg" slot="start" style="height:50px;width:50px;">
      <ion-text style="font-size:20px;">බෝග-වර්ග</ion-text>
      <ion-icon name="chevron-forward-outline" slot="end"></ion-icon>
    </ion-item> 

</ion-content>

<ion-footer [translucent]="true">
  <ion-toolbar>
    <div id="footer">
      <ion-button routerLink="/shome"  fill="clear">
        <ion-icon slot="icon-only" name="home" size="large"></ion-icon>
      </ion-button>
      <br><b>මුල් පිටුව</b>
    </div>
  </ion-toolbar>
</ion-footer>