<ion-header>
  <ion-toolbar  class="header-footer-background-color">

    <ion-buttons slot="start" routerLink="/detect/crop-cropvar" (click)="closeModal();">
      <ion-icon slot="icon-only" name="arrow-back-outline" class="header-footer-component"></ion-icon>
    </ion-buttons>

    <ion-title class="header-footer-component">{{ crop.crop_name }} - Varieties</ion-title>


  </ion-toolbar>

</ion-header>

<ion-content style="--background: rgb(19, 1, 1);">


  <ion-segment value="default">

    <ion-segment-button (click)="closeModal()">
      <ion-label style="color: #ffffff; font-size: 18px;">Crops</ion-label>
    </ion-segment-button>

    <ion-segment-button  value="default">
      <ion-label style="color: #ffffff; font-size: 18px;">Varieties</ion-label>
    </ion-segment-button>

  </ion-segment>

  <br>

  <div *ngFor="let variety of varieties$|async">
    <ion-item style="--background: rgb(19, 1, 1);" (click)="openPests_diseasesModal(variety)">
      <img src="{{variety.img_path}}"><ion-label style="color: #ffffff; font-size: 20px;">{{variety.variety_name}}</ion-label>
      <ion-icon name="chevron-forward-outline" style="color: #5cf304;" slot="end"></ion-icon>
    </ion-item>
    <br>
  </div>

</ion-content>

<ion-footer [translucent]="true">
  <ion-toolbar  class="header-footer-background-color">
    <div id="footer" class="header-footer-component">
      <ion-button routerLink="/home"  fill="clear" (click)="closeAllModals()">
        <ion-icon slot="icon-only" name="home" size="large" class="header-footer-component"></ion-icon>
      </ion-button>
      <br>Home
    </div>
  </ion-toolbar>
</ion-footer>
