<ion-header>
  <ion-toolbar  class="header-footer-background-color">

    <ion-buttons slot="start">
      <ion-back-button routerLink="/home" class="header-footer-component"></ion-back-button>
    </ion-buttons>

    <ion-title class="header-footer-component" ><b>Detect</b></ion-title>

    <ion-button (click)="presentPopover($event)" fill="clear" slot="end">
      <ion-icon slot="icon-only" name="ellipsis-vertical-outline" class="header-footer-component"></ion-icon>
    </ion-button>
    <ion-popover #popover [isOpen]="isOpen" (didDismiss)="isOpen = false" >
      <ng-template >
       <ion-content style="background-color: rgb(19, 1, 1);">

        <ion-list style="background-color: rgb(19, 1, 1);">
          <ion-radio-group value="english">
            <ion-item color="rgb(19, 1, 1)">
              <ion-label color="light">English</ion-label>
              <ion-radio slot="end" value="english" (click)="isOpen = false" routerLink="/detect"></ion-radio>
            </ion-item>
        
            <ion-item color="rgb(19, 1, 1)">
              <ion-label color="light">සිංහල</ion-label>
              <ion-radio slot="end" value="sinhala" (click)="isOpen = false" routerLink="/sdetect"></ion-radio>
            </ion-item>

            <ion-item color="rgb(19, 1, 1)">
              <ion-label color="light">தமிழ்</ion-label>
              <ion-radio slot="end" value="tamil" (click)="isOpen = false" routerLink="/tdetect"></ion-radio>
            </ion-item>
        
          </ion-radio-group>
        </ion-list>
        
       </ion-content>
      </ng-template>
    </ion-popover>
  </ion-toolbar>
</ion-header>

<ion-content style="--background: rgb(19, 1, 1);">
  <br><br>

  <ion-item style="--background: rgb(19, 1, 1);" routerLink="/crops">
    <ion-text style="font-size:25px; color: #5cf304;">Read it yourself</ion-text>
    <img src="/assets/read.png" slot="start" style="width:50px;height:50px;">
    <ion-icon name="chevron-forward-outline" style="color: #5cf304;" slot="end"></ion-icon>
  </ion-item> <br><br>


  <ion-item style="--background: rgb(19, 1, 1);">
    <ion-text style="font-size:25px; color: #5cf304;">Select symptoms</ion-text>
    <img src="/assets/select.png" slot="start" style="width:50px;height:50px;">
    <ion-icon name="chevron-forward-outline" style="color: #5cf304;" slot="end"></ion-icon>
  </ion-item> <br><br>


  <ion-item style="--background: rgb(19, 1, 1);">
    <ion-text style="font-size:25px; color: #5cf304;">Take a picture</ion-text>
    <img src="/assets/camera1.jpg" slot="start" style="width:50px;height:50px;">
    <ion-icon name="chevron-forward-outline" style="color: #5cf304;" slot="end"></ion-icon>
  </ion-item>

</ion-content>

<ion-footer [translucent]="true">
  <ion-toolbar  class="header-footer-background-color">
    <div id="footer" class="header-footer-component">
      <ion-button routerLink="/home"  fill="clear">
        <ion-icon slot="icon-only" name="home" size="large" class="header-footer-component"></ion-icon>
      </ion-button>
      <br><b>Home</b>
    </div>
  </ion-toolbar>
</ion-footer>
