<ion-header>
  <ion-toolbar  class="header-footer-background-color">

    <ion-buttons slot="start">
      <ion-back-button routerLink="/home" class="header-footer-component"></ion-back-button>
    </ion-buttons>

    <ion-title class="header-footer-component" ><b>Detect</b></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content style="--background: rgb(19, 1, 1);">

  <div id="container">

  <ion-item>

  <ion-text style="font-size:20px">Read it yourself</ion-text>

  <img src="/assets/read.png" slot="start" style="width:50px;height:50px;">

  </ion-item> <br>



  <ion-item>

    <ion-text style="font-size:20px">Select symptoms</ion-text>

      <img src="/assets/select.png" slot="start" style="width:50px;height:50px;">

  </ion-item> <br>



  <ion-item>

    <ion-text style="font-size:20px">Take a picture</ion-text>

    <img src="/assets/camera1.jpg" slot="start" style="width:50px;height:50px;">

  </ion-item>

  </div>

  

</ion-content>

<ion-footer [translucent]="true">
  <ion-toolbar  class="header-footer-background-color">
    <div id="footer" class="header-footer-component">
      <ion-button routerLink="/home"  fill="clear">
        <ion-icon slot="icon-only" name="home" size="large" class="header-footer-component"></ion-icon>
      </ion-button>
      <br><b>Home</b>
    </div>
  </ion-toolbar>
</ion-footer>
