<ion-header>
  <ion-toolbar class="header-footer-background-color">

    <ion-buttons slot="start">
      <ion-back-button routerLink="/shome" class="header-footer-component"></ion-back-button>
    </ion-buttons>

    <ion-title class="header-footer-component"><b>සැකසුම්</b></ion-title>

    <ion-button (click)="presentPopover($event)" fill="clear" slot="end">
      <ion-icon slot="icon-only" name="ellipsis-vertical-outline" class="header-footer-component"></ion-icon>
    </ion-button>
    <ion-popover #popover [isOpen]="isOpen" (didDismiss)="isOpen = false" >
      <ng-template >
       <ion-content style="background-color: rgb(19, 1, 1);">

        <ion-list style="background-color: rgb(19, 1, 1);">
          <ion-radio-group value="sinhala">
            <ion-item color="rgb(19, 1, 1)">
              <ion-label color="light">English</ion-label>
              <ion-radio slot="end" value="english" (click)="isOpen = false" routerLink="/settings"></ion-radio>
            </ion-item>
        
            <ion-item color="rgb(19, 1, 1)">
              <ion-label color="light">සිංහල</ion-label>
              <ion-radio slot="end" value="sinhala" (click)="isOpen = false" routerLink="/ssettings"></ion-radio>
            </ion-item>
        
          </ion-radio-group>
        </ion-list>
        
       </ion-content>
      </ng-template>
    </ion-popover>
  </ion-toolbar>
</ion-header>

<ion-content style="--background: rgb(19, 1, 1);">
  <br>
  <strong style="color: #ffffff; font-size: 24px;">සාමාන්‍ය සැකසුම්</strong>
  <br><br>

  <ion-item style="--background: rgb(19, 1, 1);" routerLink="/ssettings/sappsettings">
       <ion-icon slot="start" name="settings" style="color: #f70707;" size="large"></ion-icon>
       <p align="Left" style="color: #5cf304; font-size: 19px;">යෙදුම් ආශ්‍රිත සැකසුම්<br>
       <ion-text style="font-size: 14px; color: #ffffff;">භාෂාව, දැනුම්දීම් ආදිය වෙනස් කරන්න</ion-text>
       </p>
  </ion-item>
  
  <br><br>
  <strong style="color: #ffffff; font-size: 24px;">වෙනත්</strong>
  <br><br>

  <ion-item style="--background: rgb(19, 1, 1);">
       <ion-icon slot="start" name="paper-plane" style="color: #14f8e5;" size="large"></ion-icon>
       <p align="Left" style="color: #5cf304; font-size: 19px;">පිළිගැනීමේ මාර්ගෝපදේශය<br>
       <ion-text style="font-size: 14px; color: #ffffff;">Doctor-Crop භාවිතා කරන්නේ කෙසේද</ion-text>
       </p>
  </ion-item >
  <br>
  
  <ion-item style="--background: rgb(19, 1, 1);" routerLink="/ssettings/sabout">
     <ion-icon slot="start" name="alert-circle-outline" style="color: #f7f307;" size="large"></ion-icon>
     <p align="left" style="color: #5cf304; font-size: 19px;">යෙදුම ගැන</p>
  </ion-item>

</ion-content>

<ion-footer [translucent]="true">
  <ion-toolbar class="header-footer-background-color">
    <div id="footer" class="header-footer-component">
      <ion-button routerLink="/shome"  fill="clear">
        <ion-icon slot="icon-only" name="home" size="large" class="header-footer-component"></ion-icon>
      </ion-button>
      <br><b>මුල් පිටුව</b>
    </div>
  </ion-toolbar>
</ion-footer>