<ion-header [translucent]="true">
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-back-button routerLink="/tsettings"></ion-back-button>
    </ion-buttons>

    <ion-title>பற்றி</ion-title>

    <ion-button (click)="presentPopover($event)" fill="clear" slot="end">
      <ion-icon slot="icon-only" name="ellipsis-vertical-outline"></ion-icon>
    </ion-button>
    <ion-popover #popover [isOpen]="isOpen" (didDismiss)="isOpen = false" >
      <ng-template >
       <ion-content style="background-color: rgb(19, 1, 1);">

        <ion-list style="background-color: rgb(19, 1, 1);">
          <ion-radio-group value="tamil">
            <ion-item color="rgb(19, 1, 1)">
              <ion-label color="light">English</ion-label>
              <ion-radio slot="end" value="english" (click)="isOpen = false" routerLink="/settings/about"></ion-radio>
            </ion-item>
        
            <ion-item color="rgb(19, 1, 1)">
              <ion-label color="light">සිංහල</ion-label>
              <ion-radio slot="end" value="sinhala" (click)="isOpen = false" routerLink="/ssettings/sabout"></ion-radio>
            </ion-item>

            <ion-item color="rgb(19, 1, 1)">
              <ion-label color="light">தமிழ்</ion-label>
              <ion-radio slot="end" value="tamil" (click)="isOpen = false" routerLink="/tsettings/tabout"></ion-radio>
            </ion-item>
        
          </ion-radio-group>
        </ion-list>
        
       </ion-content>
      </ng-template>
    </ion-popover>

  </ion-toolbar>
</ion-header>


<ion-content style="--background: rgb(19, 1, 1);">

    <ion-card style="--background: rgb(19, 1, 1);">
    <ion-card-content>
    
      <p align="justify" style="margin-left:10px; margin-right:10px; font-size: 18px; color: #ffffff;" >
        Doctor-crop என்பது பயிர் நோய் கண்டறிதல், தடுப்பு மற்றும் சிகிச்சை பரிந்துரைகள்  ஆலோசனை வழிகாட்டி.
        <br><br>நிஜ வாழ்க்கை தரவுத்தொகுப்பு ஒரு கணிப்பு மற்றும் விளக்கம், உதாரணங்கள் மற்றும் அறியப்பட்ட பூச்சிகள் மற்றும் நோய்களுக்கான சிகிச்சை பற்றிய ஆலோசனைகளை வழங்க பயன்படுகிறது. நோயறிதலைப் பெற பயனர் இணைய இணைப்பு  வைத்திருக்க வேண்டும்.
        <br><br>
        இந்த app வீட்டுத் தோட்டக்காரர்களுக்கு எளிதாகப் பயன்படுத்தக்கூடிய விதத்தில் நடைமுறை உதவியாக வடிவமைக்கப்பட்டுள்ளது.
      </p> 
    </ion-card-content>
    </ion-card>
</ion-content> 


<ion-footer [translucent]="true">
  <ion-toolbar>
    <div id="footer" style="font-size: 10px;">
      <ion-button routerLink="/thome"  fill="clear">
        <ion-icon slot="icon-only" name="home" size="large"></ion-icon>
      </ion-button>
      <br><b>முகப்பு பக்கம்</b>
    </div>
  </ion-toolbar>
</ion-footer>