<ion-header>
  <ion-toolbar class="header-footer-background-color">
    <ion-buttons slot="start">
      <ion-back-button routerLink="/detect/crop-cropvar/crops/brinjal" class="header-footer-component"></ion-back-button>
    </ion-buttons>

    <ion-title class="header-footer-component">Diseases</ion-title>

    <ion-button (click)="presentPopover($event)" fill="clear" slot="end">
      <ion-icon slot="icon-only" name="ellipsis-vertical-outline" class="header-footer-component"></ion-icon>
    </ion-button>
    <ion-popover #popover [isOpen]="isOpen" (didDismiss)="isOpen = false" >
      <ng-template >
       <ion-content style="background-color: rgb(19, 1, 1);">

        <ion-list style="background-color: rgb(19, 1, 1);">
          <ion-radio-group value="english">
            <ion-item color="rgb(19, 1, 1)">
              <ion-label color="light">English</ion-label>
              <ion-radio slot="end" value="english" (click)="isOpen = false" routerLink="/detect/crop-cropvar/crops/brinjal/pest-diseases/diseases"></ion-radio>
            </ion-item>
        
            <ion-item color="rgb(19, 1, 1)">
              <ion-label color="light">සිංහල</ion-label>
              <ion-radio slot="end" value="sinhala" (click)="isOpen = false" routerLink="/sdetect/scrop-cropvar/scrops/sbrinjal/sdiseases"></ion-radio>
            </ion-item>

            <ion-item color="rgb(19, 1, 1)">
              <ion-label color="light">தமிழ்</ion-label>
              <ion-radio slot="end" value="tamil" (click)="isOpen = false" routerLink="/tdetect/tcrop-cropvar/tcrops/tbrinjal/tdiseases"></ion-radio>
            </ion-item>
        
          </ion-radio-group>
        </ion-list>
        
       </ion-content>
      </ng-template>
    </ion-popover>
  </ion-toolbar>
</ion-header>

<ion-content style="--background: rgb(19, 1, 1);">
  <br>
  <h5 style="color: #ffffff; font-size: 20px;"><b>Fungal Diseases</b></h5><br>
  
  <ion-item style="--background: rgb(19, 1, 1);">
    <ion-button expand="full" (click)="slidedown1()" fill="clear">
      <h6 style="color: #5cf304; font-size: 16px;">1) Damping-Off</h6>
      <ion-icon style="color: #5cf304;" name="{{updownicon1}}" slot="end"></ion-icon>
    </ion-button>
  </ion-item>
  
  <div [hidden]=ishidden1>
    <ion-card style="--background: rgb(19, 1, 1);">
      <ion-card-content style="color: #ffffff; font-size: 17px;">
        <ion-text>
          <b>Causal organism:</b> Pythium spp.,  Phytophthora spp., Fusarium spp.,  Rhizoctonia spp. and  Sclerotium rolfsii <br> <br>
          
          <b> Symptoms:</b>
  ,       <ul> 
          <li>Sudden collapsing seedlings at the base of the stem </li>
          <li>Root rot and seedling death</li>
          <li>Brownish black discoloration at the base due to Rhizoctonia spp</li>
          </ul>
        </ion-text>
  
        <ion-item style="--background: rgb(19, 1, 1);">
          <img src="assets/crops/brinjal/read/damping-off-1.png" class="img">
          <img src="assets/crops/brinjal/read/damping-off-2.jpg" class="img" style="margin-left: 10%">
        </ion-item><br>
  
        <ion-text>
          <b> Management </b>
  ,       <ul> 
          <li>Prepare nursery beds in well drained virgin soil</li>
          <li>Nursery sterilization – burning, solarization or with chemicals</li>
          <li>Remove affected plants with the adjacent soil</li>
          <li>Seed treatment (should be done just before seeding)-Thiram 80% WP  – 5g/ kg -Thiophanate-methyl  50% WP  + Thiram  30% WP –  4g/ kg -Captan 50% WP  – 6g/ kg.</li>
          <li>Soil treatment – Drench with a recommended fungicide around the base of the plant as spot application
            – Thiophanate-methyl 50% WP  + Thiram 30% WP  –  50g/50l / 10m2 – Thiram 80% WP –  70g/50l    10m2 – Captan  50% WP  –  60g/50l / 10m2</li>
        </ul>
        </ion-text>
      </ion-card-content>
    </ion-card>
  </div>
  


  <br>
  <ion-item style="--background: rgb(19, 1, 1);">
    <ion-button expand="full" (click)="slidedown2()" fill="clear">
      <h6 style="color: #5cf304; font-size: 16px;">2) Collar rot</h6>
      <ion-icon style="color: #5cf304;" name="{{updownicon2}}" slot="end"></ion-icon>
    </ion-button>
  </ion-item>
  
  <div [hidden]=ishidden2>
    <ion-card style="--background: rgb(19, 1, 1);">
      <ion-card-content style="color: #ffffff; font-size: 17px;">
        <ion-text>
          <b>Causal organism:</b> Sclerotium rolfsii  <br> <br>
          
          <b> Symptoms:</b>
  ,       <ul> 
          <li>Yellowing of leaves </li>
          <li>Decaying near collar region </li>
          <li>Mycelia mat with white / brown Sclerotia on collar region </li>
          </ul>
        </ion-text>
  
        <ion-item style="--background: rgb(19, 1, 1);">
          <img src="assets/crops/brinjal/read/collar-rot-1.png" class="img">
        </ion-item> <br>
  
        <ion-text>
          <b> Management </b>
  ,       <ul> 
          <li>Destroy affected plants with the adjacent soil</li>
          <li>Improve drainage</li>
          <li>Deeply plough the land and expose to affected soil to bright sunlight</li>
          <li>Avoid root damage at transplanting</li>
          <li>Soil treatment – Drench with a recommended fungicide around the base of the plant as spot application
            – Thiophanate-methyl 50% WP  + Thiram 30% WP  –  50g/50l / 10m2 – Thiram 80% WP –  70g/50l / 10m2 – Captan  50% WP  –  60g/50l / 10m2</li>
          
        </ul>
        </ion-text>
      </ion-card-content>
    </ion-card>
  </div>
  

  
  <br>
  <ion-item style="--background: rgb(19, 1, 1);">
    <ion-button expand="full" (click)="slidedown3()" fill="clear">
      <h6 style="color: #5cf304; font-size: 16px;">3) Fusarium wilt </h6>
      <ion-icon style="color: #5cf304;" name="{{updownicon3}}" slot="end"></ion-icon>
    </ion-button>
  </ion-item>
  
  <div [hidden]=ishidden3>
    <ion-card style="--background: rgb(19, 1, 1);">
      <ion-card-content style="color: #ffffff; font-size: 17px;">
        <ion-text>
          <b>Causal organism:</b> Fusarium oxysporum f.sp lycopersici <br> <br>
          
          <b> Symptoms:</b>
  ,       <ul> 
          <li>Yellowing of leaves and wilt </li>
          <li> Vascular discoloration of stem </li>
          <li> Root rot and dying of the plant</li>
          </ul> <br> <br>
  
          <b> Management </b>
  ,       <ul> 
          <li>Destroy affected plants with the adjacent soil</li>
          <li>Improve drainage</li>
          <li>Deeply plough the land and expose to affected soil to bright sunlight</li>
          <li>Avoid root damage at transplanting </li>
          <li>Soil treatment – Drench with a recommended fungicide around the base of the plant as spot application
            – Thiophanate-methyl 50% WP  + Thiram 30% WP  –  50g/50l / 10m2 – Thiram 80% WP –  70g/50l / 10m2                           
            – Captan  50% WP  –  60g/50l / 10m2   </li>
        </ul>
  
        </ion-text>
      </ion-card-content>
    </ion-card>
  </div>
  
  

  <br>
  <ion-item style="--background: rgb(19, 1, 1);">
    <ion-button expand="full" (click)="slidedown4()" fill="clear">
      <h6 style="color: #5cf304; font-size: 16px;">4) Powdery mildew</h6>
      <ion-icon style="color: #5cf304;" name="{{updownicon4}}" slot="end"></ion-icon>
    </ion-button>
  </ion-item>
  
  <div [hidden]=ishidden4>
    <ion-card style="--background: rgb(19, 1, 1);">
      <ion-card-content style="color: #ffffff; font-size: 17px;">
  
        <ion-text>
          <b>Causal organism:</b> Podosphaera xanthii 
        </ion-text><br><br>
  
        <ion-item style="--background: rgb(19, 1, 1);">
            <img src="assets/crops/brinjal/read/powdery-mildew.jpg" class="img">
        </ion-item><br>
          
         
        <ion-text>
        <b> Symptoms:</b>
  ,       <ul> 
          <li>Circular yellow patches or spots appear on the lower surface of the leaves.</li>
          <li>White powdery residue on the upper leaf surface. </li>
          </ul><br><br>
        
        <b> Management </b>
  ,       <ul> 
          <li>Use recommended fungicides at initial stage of disease development (Refer: Pesticide recommendation DOA, 2019)</li>
          <ul>
            <li>Apply sulfur 80% WG 50 g/10 l of water</li>
            <li>Chlorothalonil 500g/l SC- 30 ml/10 l of water</li>
            <li>Carbendazim 50% WP- 7 g/10 l of water</li>
          </ul>
        </ul>
  
        </ion-text>
      </ion-card-content>
    </ion-card>
  </div>
  

  <br>
  <ion-item style="--background: rgb(19, 1, 1);">
    <ion-button expand="full" (click)="slidedown5()" fill="clear">
      <h6 style="color: #5cf304; font-size: 16px;"> 5) Anthracnose </h6>
      <ion-icon style="color: #5cf304;" name="{{updownicon5}}" slot="end"></ion-icon>
    </ion-button>
  </ion-item>
  
  <div [hidden]=ishidden5>
    <ion-card style="--background: rgb(19, 1, 1);">
      <ion-card-content style="color: #ffffff; font-size: 17px;">
  
        <ion-text>
          <b>Causal organism:</b> Colletotrichum gloeosporioides<br><br>
          <b> Symptoms:</b>
          <ul> 
            <li>Sunken circular lesions with tan to orange to black concentric rings in their center</li>
            <li>Fruiting bodies with pink masses of conidia may ooze from lesions </li>
          </ul>
        </ion-text><br><br>
  
        <ion-item style="--background: rgb(19, 1, 1);">
            <img src="assets/crops/brinjal/read/anthracnose1.png" class="img">
            <img src="assets/crops/brinjal/read/anthracnose2.png.jpg" class="img" style="margin-left: 10%">
        </ion-item><br>
          
        <ion-text>
        <b> Management </b>
  ,       <ul> 
          <li>Use of healthy seeds </li>
          <li>Avoid excess overhead irrigation </li>
          <li>Remove and destroy infected fruits </li>
          <li>Seed treatment (should be done just before seeding)–Thiram 80% WP  – 5g/ kg -Thiophanate-methyl  50% WP  + Thiram  30% WP –  4g/ kg -Captan 50% WP  – 6g/ kg. </li>
          <li>Foliar application of fungicides start at flowering stage in rainy season
            – Fluzinam 500g/1 SC – 10 ml/10l of water – Metiram 55% +  Pyraclostrobin 5%  WP  – 20 g/10l  of water – Cabendazim 50%  WG  – 7 g/10l   of water – Thiophanate-methyl  70% WP  –  6g/10l of water –  Chlorothalonil 500 SC  – 30ml/10l of water</li>
         </ul>
  
        </ion-text>


      </ion-card-content>
    </ion-card>
  </div>
  

  <br>
  <ion-item style="--background: rgb(19, 1, 1);">
    <ion-button expand="full" (click)="slidedown6()" fill="clear">
      <h6 style="color: #5cf304; font-size: 16px;"> 6) Phomopsis blight </h6>
      <ion-icon style="color: #5cf304;" name="{{updownicon6}}" slot="end"></ion-icon>
    </ion-button>
  </ion-item>
  
  <div [hidden]=ishidden6>
    <ion-card style="--background: rgb(19, 1, 1);">
      <ion-card-content style="color: #ffffff; font-size: 17px;">
  
        <ion-text>
          <b>Causal organism:</b> Phomopsis vexans <br><br>

        <b> Symptoms:</b>
  ,       <ul> 
          <li>Small canker gray spots with black margins appear on stem and petioles</li>
          <li>Center of the spot becomes gray and black due to pycnidia development </li>
          <li>Soft and watery fruit spots become black and mummified</li>
          </ul><br><br>
        </ion-text>
  
        <ion-item style="--background: rgb(19, 1, 1);">
            <img src="assets/crops/brinjal/read/Phomopsis-blight.png" class="img">
        </ion-item><br>
          
         
        <ion-text>
        <b> Management </b>
  ,       <ul> 
          <li>Remove and destruction of infected fruits</li>
          <li>Use recommended fungicides at initial stage of disease development (Refer: Pesticide recommendation DOA, 2019 -Chlorothalonil 500g/l SC- 30 ml/10 l of water -Carbendazim 50% WP- 7 g/10 l of water – Thiophanate-methyl  70% WP  of 6g/10l  of water</li>
          </ul>
        </ion-text>


      </ion-card-content>
    </ion-card>
  </div>
  


  
  <br><h5 style="color: #ffffff; font-size: 20px;"><b>Bacterial diseases</b></h5><br>

  <ion-item style="--background: rgb(19, 1, 1);">
    <ion-button expand="full" (click)="slidedown7()" fill="clear">
      <h6 style="color: #5cf304; font-size: 16px;"> 7) Bacterial wilt </h6>
      <ion-icon style="color: #5cf304;" name="{{updownicon7}}" slot="end"></ion-icon>
    </ion-button>
  </ion-item>
  
  <div [hidden]=ishidden7>
    <ion-card style="--background: rgb(19, 1, 1);">
      <ion-card-content style="color: #ffffff; font-size: 17px;">
  
        <ion-text>
          <b>Causal organism:</b> Ralstonia solanacearum<br><br> 
          <b> Symptoms:</b>
  ,       <ul> 
          <li>Slight wilting of single branch/ branches</li>
          <li>Sudden and permanent wilting of entire plant</li>
          <li>Discoloration of the vascular tissues</li>
          <li>Slimy viscous bacterial ooze comes out from the cut end of affected parts when immersed in clear </li>
          </ul>
        </ion-text><br><br>
  
        <ion-item style="--background: rgb(19, 1, 1);">
            <img src="assets/crops/brinjal/read/bacterial-wilt1.png" class="img">
            <img src="assets/crops/brinjal/read/bacterial-wilt2.png" class="img" style="margin-left: 10%">
        </ion-item><br>
          
         
        <ion-text>
        <b> Management </b>
  ,       <ul> 
          <li>Remove and destroy affected plants with soil </li>
          <li>Destroy crop debris after harvesting </li>
          <li>Crop rotation with non-susceptible crop (cruciferous vegetables and okra) help in reducing the disease incidence </li>
          <li>Use of resistant varieties </li>
          <li>Disinfect all farm implements/tools with bleach after they have been</li>
          <li>No chemical controlling method </li>
          </ul>
        </ion-text>


      </ion-card-content>
    </ion-card>
  </div>
  



  <br><h5 style="color: #ffffff; font-size: 20px;"><b>Phytoplasma disease</b></h5><br>

  <ion-item style="--background: rgb(19, 1, 1);">
    <ion-button expand="full" (click)="slidedown8()" fill="clear">
      <h6 style="color: #5cf304; font-size: 16px;"> 8) Little leaf disease </h6>
      <ion-icon style="color: #5cf304;" name="{{updownicon8}}" slot="end"></ion-icon>
    </ion-button>
  </ion-item>
  
  <div [hidden]=ishidden8>
    <ion-card style="--background: rgb(19, 1, 1);">
      <ion-card-content style="color: #ffffff; font-size: 17px;">
  
        <ion-text>
          <b>Causal organism:</b> Phytoplasma The disease is transmitted by a leaf hopper(Hishimonus phycitiy)<br><br> 
          <b> Symptoms:</b>
  ,       <ul> 
          <li>leaves are narrow, soft, smooth and yellow</li>
          <li>Internodes of the stem become shorten </li>
          <li>Auxiliary buds get enlarged but their petioles and leaves remain shortened and give the plant a bushy appearance.</li>
          <li>flowers remain green/ no flowering</li>
          <li>Fruiting is rare</li>
          </ul>
        </ion-text><br><br>
  
        <ion-item style="--background: rgb(19, 1, 1);">
            <img src="assets/crops/brinjal/read/Little-leaf-disease.png" class="img">
        </ion-item><br>

        <ion-text>
          <b> Management </b>
    ,       <ul> 
            <li>Remove and burn infected plants. </li>
            <li>Control leaf hopper with recommended insecticides to minimize disease spread </li>
            </ul>
        </ion-text>
  
      </ion-card-content>
    </ion-card>
  </div>
  
  </ion-content>




  
  <ion-footer [translucent]="true">
    <ion-toolbar class="header-footer-background-color">

      <div id="footer" class="header-footer-component">
        <ion-button routerLink="/home"  fill="clear" >
          <ion-icon slot="icon-only" name="home" size="large" class="header-footer-component"></ion-icon>
        </ion-button>
        <br><b>Home</b>
      </div>
    </ion-toolbar>
  </ion-footer>

