<ion-header [translucent]="true">
  <ion-toolbar  class="header-footer-background-color">

    <ion-button routerLink="/settings"  fill="clear" slot="start">
      <ion-icon slot="icon-only" name="menu" class="header-footer-component"></ion-icon>
    </ion-button>

    <ion-title class="header-footer-component">
      <b>Pest and Diseases</b>
    </ion-title>

  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true" style="--background: rgb(19, 1, 1);">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">PEST AND DISEASES</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content>


<ion-footer [translucent]="true">
  <ion-toolbar  class="header-footer-background-color">
    <div id="footer" class="header-footer-component">
      <ion-button routerLink="/home"  fill="clear">
        <ion-icon slot="icon-only" name="home" size="large" class="header-footer-component"></ion-icon>
      </ion-button>
      <br><b>Home</b>
    </div>
  </ion-toolbar>
</ion-footer>
