
<ion-content [fullscreen]="true">
  <div class="bg-image"></div>
<br>

<ion-text style="margin-left: 20px; color:#ffffff; font-size: 40px;"><b>{{ 'HOME.welcome' | translate }}</b></ion-text>
<br><br><br><br><br><br>

<div style="text-align: center;">
  <ion-text style="color:#ffffff; font-size: 30px; text-align: center;">
    {{ 'HOME.title' | translate }}
  </ion-text><br><br>
</div>

<div class="center">
  <ion-button fill="solid" style="color: #ffffff; --background: #50ce07c0; opacity: 0.99;" size="medium" shape="round" routerLink="/firstpage"><b>{{ 'HOME.button' | translate }}</b></ion-button>
</div>
</ion-content>

