<ion-header>
  <ion-toolbar  class="header-footer-background-color">

    <ion-buttons slot="start">
      <ion-back-button routerLink="/home" class="header-footer-component"></ion-back-button>
    </ion-buttons>

    <ion-title class="header-footer-component"><b>Settings</b></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content style="--background: rgb(19, 1, 1);">
  <br>
  <ion-text style="color: #5cf304;">General</ion-text>
  <br><br>
  <ion-item>
       <ion-icon slot="start" name="settings"></ion-icon>
       <p align="Left">App Settings<br>
       <ion-text style="font-size: 12px">Change Language, notifications, etc</ion-text>
       </p>
  </ion-item>
  
  <br><br>
  <ion-text style="color: #5cf304;">Other</ion-text>
  <br><br>
  <ion-item>
       <ion-icon slot="start" name="paper-plane"></ion-icon>
       <p align="Left">Welcome Tour<br>
       <ion-text style="font-size: 12px">The ease of use Doctor-Crop</ion-text>
       </p>
  </ion-item>
  <br>
  <ion-item>
     <ion-icon slot="start" name="alert-circle"></ion-icon>
     <p align="left">About</p>
  </ion-item>

</ion-content>

<ion-footer [translucent]="true">
  <ion-toolbar  class="header-footer-background-color" >
    <div id="footer" class="header-footer-component">
      <ion-button routerLink="/home"  fill="clear">
        <ion-icon slot="icon-only" name="home" size="large" class="header-footer-component"></ion-icon>
      </ion-button>
      <br><b>Home</b>
    </div>
  </ion-toolbar>
</ion-footer>