<ion-header>
  <ion-toolbar>
    <ion-title>settings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <br><br>
  
  <ion-label>General</ion-label>
  <br><br>
  <ion-toolbar>
    <ion-button expand="full" fill="clear">
      <ion-icon slot="start" name="settings"></ion-icon>
      <p align="Left">App Settings<br>
      <ion-label>Change Language, notifications, etc</ion-label></p><br>
    </ion-button>
  </ion-toolbar>
  <ion-item-divider></ion-item-divider>

  <br><br>

  <ion-label>Privacy Settings</ion-label>
  <br><br>
  <ion-toolbar>
  
    <ion-button expand="full" fill="clear">
    <ion-icon slot="start" name="alert-circle"></ion-icon>
    <p align="left">About</p>
    </ion-button>

  </ion-toolbar>
  <ion-item-divider></ion-item-divider>
  

  <br><br>
  <ion-label>Other</ion-label>
  <br><br>
  <ion-toolbar>
    
    <ion-button expand="full" fill="clear">
      <ion-icon slot="start" name="paper-plane"></ion-icon>
      <p align="Left">Welcome Tour<br>
      <ion-label>The ease of use Doctor-Crop</ion-label><br>
    </p>
    </ion-button>
  
  </ion-toolbar>
  <ion-item-divider></ion-item-divider>

</ion-content>
