<ion-header>
  <ion-toolbar class="header-footer-background-color">
    <ion-buttons slot="start" (click)="closeModal()">
      <ion-icon slot="icon-only" name="arrow-back-outline" class="header-footer-component"></ion-icon>
    </ion-buttons>

    <ion-title class="header-footer-component">{{ crop.crop_name }} - Pests</ion-title>

    <ion-button (click)="presentPopover($event)" fill="clear" slot="end">
      <ion-icon slot="icon-only" name="ellipsis-vertical-outline" class="header-footer-component"></ion-icon>
    </ion-button>
    <ion-popover #popover [isOpen]="isOpen" (didDismiss)="isOpen = false" >
      <ng-template >
       <ion-content style="background-color: rgb(19, 1, 1);">

        <ion-list style="background-color: rgb(19, 1, 1);">
          <ion-radio-group value="english">
            <ion-item color="rgb(19, 1, 1)">
              <ion-label style="color: #ffffff;">English</ion-label>
              <ion-radio slot="end" value="english" (click)="isOpen = false" routerLink="/detect/crop-cropvar/crops/brinjal/pest"></ion-radio>
            </ion-item>

            <ion-item color="rgb(19, 1, 1)">
              <ion-label style="color: #ffffff;">සිංහල</ion-label>
              <ion-radio slot="end" value="sinhala" (click)="isOpen = false" routerLink="/sdetect/scrop-cropvar/scrops/sbrinjal/spest"></ion-radio>
            </ion-item>

            <ion-item color="rgb(19, 1, 1)">
              <ion-label style="color: #ffffff;">தமிழ்</ion-label>
              <ion-radio slot="end" value="tamil" (click)="isOpen = false" routerLink="/tdetect/tcrop-cropvar/tcrops/tbrinjal/tpest"></ion-radio>
            </ion-item>

          </ion-radio-group>
        </ion-list>

       </ion-content>
      </ng-template>
    </ion-popover>
  </ion-toolbar>
</ion-header>

<ion-content  style="--background: rgb(19, 1, 1);">
  <br>
  <div>
    <ion-text style="color: #ffffff;">Click on a pest name to see details</ion-text>
    <br><br>

    <div *ngFor="let pest of pests$|async">
      <ion-item (click)="openPestDetailsModal(pest)" style="--background: rgb(19, 1, 1);">
        <img src="{{pest.img_path}}">
        <ion-text style="color: #ffffff; font-size: 16px;">{{ pest.pest_name }}</ion-text>
        <ion-icon name="chevron-forward-outline" style="color: #5cf304;" slot="end"></ion-icon>
     </ion-item>
    </div>

  </div>
  <br>

</ion-content>

<ion-footer [translucent]="true">
  <ion-toolbar class="header-footer-background-color">
    <div id="footer" class="header-footer-component">
      <ion-button fill="clear" (click)="closeAllModals()" routerLink="/home">
        <ion-icon slot="icon-only" name="home" size="large" class="header-footer-component"></ion-icon>
      </ion-button>
      <br>Home
    </div>
  </ion-toolbar>
</ion-footer>
