<ion-header>
  <ion-toolbar class="header-footer-background-color">

    <ion-buttons slot="start">
      <ion-back-button routerLink="/home" class="header-footer-component"></ion-back-button>
    </ion-buttons>

    <ion-title class="header-footer-component"><b>Prevent</b></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content  style="--background: rgb(19, 1, 1);">


  <div id="container">

    <ion-item>
      <ion-text style="font-size:20px">Read it yourself</ion-text>

      <img src="/assets/read.png" slot="start" style="width:50px;height:50px;">


      <ion-button (click)="showAlert()" fill="clear">
        <ion-icon name="alert-circle-outline"></ion-icon>
      </ion-button>
    </ion-item> <br>



    <ion-item>
      <ion-text style="font-size:20px">Select precautions</ion-text>

      <img src="/assets/precautions.png" slot="start" style="width:50px;height:50px;">


      <ion-button (click)="showAlert()" fill="clear">
        <ion-icon name="alert-circle-outline"></ion-icon>
      </ion-button>
    </ion-item>

  
  </div>


</ion-content>

<ion-footer [translucent]="true">
  <ion-toolbar class="header-footer-background-color">
    <div id="footer" class="header-footer-component">
      <ion-button routerLink="/home"  fill="clear">
        <ion-icon slot="icon-only" name="home" size="large" class="header-footer-component"></ion-icon>
      </ion-button>
      <br><b>Home</b>
    </div>
  </ion-toolbar>
</ion-footer>