<ion-header>
  <ion-toolbar>
    <ion-title>prevent</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>


  <div id="container">

    <ion-item>
      <ion-text style="font-size:20px">Read it yourself</ion-text>

      <img src="/assets/read.png" slot="start" style="width:50px;height:50px;">


      <ion-button (click)="showAlert()" fill="clear">
        <ion-icon name="alert-circle-outline"></ion-icon>
      </ion-button>
    </ion-item> <br>



    <ion-item>
      <ion-text style="font-size:20px">Select precautions</ion-text>

      <img src="/assets/precautions.png" slot="start" style="width:50px;height:50px;">


      <ion-button (click)="showAlert()" fill="clear">
        <ion-icon name="alert-circle-outline"></ion-icon>
      </ion-button>
    </ion-item>

  
  </div>


</ion-content>
