<ion-header>
  <ion-toolbar class="header-footer-background-color">
    <ion-buttons slot="start">
      <ion-back-button routerLink="/tdetect" class="header-footer-component"></ion-back-button>
    </ion-buttons>

    <ion-title class="header-footer-component">பயிர் அல்லது பயிர் மற்றும் பல்வேறு</ion-title>

    <ion-button (click)="presentPopover($event)" fill="clear" slot="end">
      <ion-icon slot="icon-only" name="ellipsis-vertical-outline" class="header-footer-component"></ion-icon>
    </ion-button>
    <ion-popover #popover [isOpen]="isOpen" (didDismiss)="isOpen = false" >
      <ng-template >
       <ion-content style="background-color: rgb(19, 1, 1);">

        <ion-list style="background-color: rgb(19, 1, 1);">
          <ion-radio-group value="tamil">
            <ion-item color="rgb(19, 1, 1)">
              <ion-label color="light">English</ion-label>
              <ion-radio slot="end" value="english" (click)="isOpen = false" routerLink="/detect/crop-cropvar"></ion-radio>
            </ion-item>
        
            <ion-item color="rgb(19, 1, 1)">
              <ion-label color="light">සිංහල</ion-label>
              <ion-radio slot="end" value="sinhala" (click)="isOpen = false" routerLink="/sdetect/scrop-cropvar"></ion-radio>
            </ion-item>
        
            <ion-item color="rgb(19, 1, 1)">
              <ion-label color="light">தமிழ்</ion-label>
              <ion-radio slot="end" value="tamil" (click)="isOpen = false" routerLink="/tdetect/tcrop-cropvar"></ion-radio>
            </ion-item>

          </ion-radio-group>
        </ion-list>
        
       </ion-content>
      </ng-template>
    </ion-popover>
  </ion-toolbar>
</ion-header>

<ion-content  style="--background: rgb(19, 1, 1);">

  <p style="font: size 15px;text-align:center; color: #ffffff"">பயிர்கள் அல்லது பயிர் மற்றும் வகைகளை தேர்ந்தெடு</p>
<br>

  <ion-item routerLink="/tdetect/tcrop-cropvar/tcrops" style="--background: rgb(19, 1, 1);">
    <img src="/assets/crops1.jpg" slot="start" style="height:50px;width:50px;">
    <ion-text style="font-size:12px; color: #5cf304;">பயிர் மட்டும் தேர்ந்தெடுக்கவும்</ion-text>
    <ion-icon name="chevron-forward-outline" slot="end" style="color: #5cf304;"></ion-icon>
  </ion-item> <br>

  <ion-item routerLink="/tdetect/tcrop-cropvar/tcrops-varieties" style="--background: rgb(19, 1, 1);">
    <img src="/assets/crop-varieties1.jpg" slot="start" style="height:50px;width:50px;">
    <ion-text style="font-size:12px; color: #5cf304;">பயிர்கள் மற்றும் வகைகளைத் தேர்ந்தெடுக்கவும்</ion-text>
    <ion-icon name="chevron-forward-outline" slot="end" style="color: #5cf304;"></ion-icon>
  </ion-item> 


</ion-content>

<ion-footer [translucent]="true">
  <ion-toolbar class="header-footer-background-color">
    <div id="footer" style="font-size: 10px;" class="header-footer-component">
      <ion-button routerLink="/thome"  fill="clear">
        <ion-icon slot="icon-only" name="home" size="large" class="header-footer-component"></ion-icon>
      </ion-button>
      <br><b>முகப்பு பக்கம்</b>
    </div>
  </ion-toolbar>
</ion-footer>