<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button routerLink="/sdetect/scrop-cropvar/scrops/sbrinjal"></ion-back-button>
    </ion-buttons>

    <ion-title>පළිබෝධ</ion-title>

    <ion-button (click)="presentPopover($event)" fill="clear" slot="end">
      <ion-icon slot="icon-only" name="ellipsis-vertical-outline"></ion-icon>
    </ion-button>
    <ion-popover #popover [isOpen]="isOpen" (didDismiss)="isOpen = false" >
      <ng-template >
       <ion-content style="background-color: rgb(19, 1, 1);">

        <ion-list style="background-color: rgb(19, 1, 1);">
          <ion-radio-group value="sinhala">
            <ion-item color="rgb(19, 1, 1)">
              <ion-label color="light">English</ion-label>
              <ion-radio slot="end" value="english" (click)="isOpen = false" routerLink="/detect/crop-cropvar/crops/brinjal/pest-diseases/pest"></ion-radio>
            </ion-item>
        
            <ion-item color="rgb(19, 1, 1)">
              <ion-label color="light">සිංහල</ion-label>
              <ion-radio slot="end" value="sinhala" (click)="isOpen = false" routerLink="/sdetect/scrop-cropvar/scrops/sbrinjal/spest-diseases/spest"></ion-radio>
            </ion-item>

            <ion-item color="rgb(19, 1, 1)">
              <ion-label color="light">தமிழ்</ion-label>
              <ion-radio slot="end" value="tamil" (click)="isOpen = false" routerLink="/tdetect/tcrop-cropvar/tcrops/tbrinjal/tpest-diseases/tpest"></ion-radio>
            </ion-item>
        
          </ion-radio-group>
        </ion-list>
        
       </ion-content>
      </ng-template>
    </ion-popover>
  </ion-toolbar>
</ion-header>

<ion-content>
    <br>
    <h5><b>පළිබෝධ වර්ග</b></h5><br>
    
    <ion-item>
      <ion-button expand="full" (click)="slidedown1()" fill="clear">
        <h6>1) කරටි හා ගෙඩි විදින පණුවා</h6>
        <ion-icon name="{{updownicon1}}" slot="end"></ion-icon>
      </ion-button>
    </ion-item>
    
    
    <div [hidden]=ishidden1>
      <ion-card>
        <ion-card-content>
          <ion-text>
             <br> <br>
            
            <b> ලක්ෂණ:</b>
           <ul> 
            <li>කරටි මැලවී එල්ලා වැටීම හා ඵල වල කළුපාට සිදුරු මඟින් හානිය හඳුනාගත හැක. </li>
            <br>
            <li>සිදුරු තුළ බහිස්‍රාවීය ද්‍රව්‍ය පිරී ඇත. </li>
            <br>
            <li>හානි කළ කරටි හා ගෙඩි කපා බැලූ විට කීටයින් දක්නට ලැබේ. </li>
            <br>
            <li>කීටයා හානි කිරීම නිසා ශාකයේ වර්ධනය බාල වේ.</li>
            </ul>
          </ion-text>
    
          <ion-item>
            <img src="assets/crops/brinjal/detect/pest/Stem-and-Fruit-borer-in-Brinjal.jfif" class="img1">
            <img src="assets/crops/brinjal/detect/pest/Brinjal-Shoot-Borer-and-Fruit-Borer.jfif" class="img1" style="margin-left: 0">
          </ion-item><br>
    
          <ion-text>
            <b>  පාලන ක්‍රම</b>
           <ul> 
            <li>බටු ක්ෂේත්‍රය වටා සජීවී හෝ අජීවී බාධකයක් (බඩඉරිඟු, සෝගම් හෝ කෘමි ප්‍රතිරෝධී දැලක්) මීටර් 2 පමණ උසට යොදා ගැනීම)</li>
            <br>
            <li>වගාකර ඇති ශාකවල කරටිවල මෙම හානිය පළමුවෙන්ම දක්නට ලැබුනු විට එම කරටි කොටස් හානි කළ ස්ථානයට පහලින් කපා ශාකයෙන් ඉවත් කර විනාශ කර දමන්න. </li>
           <br>
            <li>සතියකට වරක් වගාව පරීක්ෂා කරන්න.</li>
            <br>
            <li>50% මල් හටගත් අවස්ථාවේදී සුදුසු කෘමි නාශකයක් ඉසීමෙන් මෙම හානිය පාලනයකර ගත හැකිය.
            </li>
            <br>
            <li>අස්වනු නෙළීමේ දී හානි කර ඇති ගෙඩි සංඛ්‍යාව පිළිබඳ අවබෝධයක් ලබා ගැනීම හා හානිකළ ගෙඩි ගණන 5% වඩා වැඩි නම් පමණක් නිර්දේශිත කෘමිනාශකයක් යෙදීම.</li>
            <br>
            <li>පෙර අස්වනු කාලය ගැන සැළකිලිමත් වීම හා එකම කෘමිනාශකය දිගින් දිගටම භාවිතා නොකිරීම.</li>
            <br>
            <li>අස්වනු නෙලන අවස්ථාවේ කෘමිනාශක යොදන විට පෙර අස්වනු කාලය ගැන සැළකිලිමත් වීම.
           </li>
            <br>
            <li>රසායනික මර්දනය
              <ul>නිර්දේශිත කෘෂි රසායන නිර්දේශිත ආකාරයට යොදන්න</ul>
              </li>
          </ul>
          </ion-text>
        </ion-card-content>
      </ion-card>
    </div>

    <br>
<ion-item>
  <ion-button expand="full" (click)="slidedown2()" fill="clear">
    <h6>2) කොල හකුලන දළබුවා </h6>
    <ion-icon name="{{updownicon2}}" slot="end"></ion-icon>
  </ion-button>
</ion-item>

<div [hidden]=ishidden2>
  <ion-card>
    <ion-card-content>
      <ion-text>
        <b>Psara bipunctalis (Order-Lepidoptera, Family-Pyralidae)</b>  <br> <br>
        
        <b> ලක්ෂණ:</b>
       <ul> 
        <li> ශාකයේ පත්‍ර කිහිපයක් ගොටු ගසා ඒ තුළ කීටයින් පෝෂණය වේ. </li>
        <br>
        <li>  මෙහිදී පත්‍ර නාරටි හැර ඉතිරි කොටස් කා දමයි. </li>
        <br>
        <li> අග්‍රස්ථ පත්‍ර මෙලෙස විනාශ කිරීම නිසා ශාකයේ වර්ධනය බාලවේ.
        </li>
        </ul> <br> <br>
      </ion-text>

        <ion-item>
          <img src="assets/crops/brinjal/detect/pest/Eggplant-caterpillar-Leaf-rolling-catepillar.jfif" class="img2">
        </ion-item><br>

        <ion-text>
        <b>  පාලන ක්‍රම</b>
      <ul> 
        <li>තදින් ගොටු ගසා ඇති පත්‍ර කඩා විනාශ කර දැමීම.</li>
        <br>
        <li>නිර්දේශිත කෘෂි රසායන නිර්දේශිත ආකාරයට යොදන්න</li>
        <br>
        <li>නිර්දේශිත කෘමිනාශකයක් යොදා අවම වශයෙන් දින 7 - 10 ගත වූ පසු පමණක් අස්වැන්න නෙලන්න.</li>
      </ul>

      </ion-text>
    </ion-card-content>
  </ion-card>
</div>

<br>
<ion-item >
  <ion-button expand="full" (click)="slidedown3()" fill="clear">
    <h6>3) පත්‍ර කීඩෑවා </h6>
    <ion-icon name="{{updownicon3}}" slot="end"></ion-icon>
  </ion-button>
</ion-item>

<div [hidden]=ishidden3>
  <ion-card>
    <ion-card-content>
      <ion-text>
        <b>(Amrasca Spp.) (Order-Homoptera, Family-Cicadellidae)</b>  <br> <br>
        
        <b> ලක්ෂණ:</b>
      <ul> 
        <li>සුහුබුලා ළා කොල පැහැති වන අතර සුහුබුල් සහ ශිෂු අවස්ථා දෙකම ශාකයට හානි කරයි.
        </li>
        <br>
        <li>පත්‍රයේ යට පැත්තේ සිට පත්‍ර වලින් යුෂ උරාබීම නිසා පත්‍ර කුඩාවීම, රැලි වැටීම, පත්‍ර දාරයේ සිට මධ්‍යන්‍ය දෙසට කහ පැහැවීම සිදුවේ.</li>
        <br>
        <li>එම නිසා ශාකයේ වර්ධනය දුර්වල වේ. </li>
        <br>
        <li>බටු බෝගයට වැළඳෙන ෆයිටොප්ලාස්මා (කුඩාපත්‍ර රෝගය) රෝගයේ වාහකයා ලෙසද ක්‍රියා කරයි.</li>
        </ul> <br> <br>
      </ion-text>

      <ion-item>
        <img src="assets/crops/brinjal/detect/pest/Tiny-Leafhopper-insect(Cicadellidae,Homoptera)on-a-leaf-in-the-garden.jpg" class="img1">
      </ion-item><br>

      <ion-text>
 
        <b>  පාලන ක්‍රම</b>
       <ul> 
        <li>මනා බෝග නඩත්තුව හා හානිය පැතිරීයන අවස්ථාවලදී නිර්දේශිත කෘමිනාශකයක් යොදා පාලනය කරන්න.</li>
        <br>
        <li>නිර්දේශිත කෘෂි රසායන නිර්දේශිත ආකාරයට යොදන්න.</li>
      </ul>

      </ion-text>
    </ion-card-content>
  </ion-card>
</div>

<br>
  
  <ion-item>
    <ion-button expand="full" (click)="slidedown4()" fill="clear">
      <h6>4) මයිටා හානිය</h6>
      <ion-icon name="{{updownicon4}}" slot="end"></ion-icon>
    </ion-button>
  </ion-item>
  
  <div [hidden]=ishidden4>
    <ion-card>
      <ion-card-content>
        <ion-text>
          <br> <br>
          
          <b> ලක්ෂණ:</b>
        <ul> 
          <li>මයිටාවන් පත්‍ර හා ඵල වලින් යුෂ උරා බොයි. ඵල වලින් යුෂ උරා බිවූ විට ඵලාවරණය ගොරෝසු වී දුඹුරු වී යයි. </li>
          <br>
          <li>ඵල විකෘති වේ.</li>
          <br>
          <li>පත්‍ර වලට හානි කරන විට මයිටාවන් යටි පැත්තේ බහුලව දැකිය හැකි අතර පත්‍ර රෝල් වීම දුඹුරු පැහැ වීම, වියළි මැරී යාම දක්නට ලැබේ. </li>
          <br>
          <li>මකුලු මයිටාවන්ගේ පත්‍ර හානියේ දී මූලික අවස්ථාවේදී පත්‍ර මතුපිට තැනින් තැන කහ පැහැයට හැරී තිබෙනු දැකිය හැක.</li>
          </ul>
        </ion-text>
  
        <ion-item>
          <img src="assets/crops/brinjal/detect/pest/Spidaer-mites-injury-to-eggplant.jpg" class="img1">
          <img src="assets/crops/brinjal/detect/pest/red-spider-mites.jpg" class="img1" style="margin-left:0">
        </ion-item><br>
  
        <ion-text>
          <b> පාලන ක්‍රම </b>
       <ul> 
          <li>මනා බෝග නඩත්තුව සහ අවශ්‍ය පමණට (විශේෂයෙන් වියළි කාලගුණ තත්ත්ව යටතේ) ජලසම්පාදනය, ජල ඌන වගාවන් හානියට පාත්‍රී වීම වැඩිය.</li>
          <br>
          <li>ඉස්නා ජල සම්පාදනය මඟින් බෝගයේ මයිටා ගහණය අඩුකර ගත හැකිය.</li>
          <br>
          <li>හානිය පැතිරී යයි නම් නිර්දේශිත කෘමිනාශකයක් යොදා පාලනය කරන්න.</li>
        </ul>
        </ion-text>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>

<ion-footer [translucent]="true">
  <ion-toolbar>
    <div id="footer">
      <ion-button routerLink="/shome"  fill="clear">
        <ion-icon slot="icon-only" name="home" size="large"></ion-icon>
      </ion-button>
      <br><b>මුල් පිටුව</b>
    </div>
  </ion-toolbar>
</ion-footer>