<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button routerLink="/sdetect/scrop-cropvar/scrops/sbrinjal"></ion-back-button>
    </ion-buttons>

    <ion-title>රෝග</ion-title>

    <ion-button (click)="presentPopover($event)" fill="clear" slot="end">
      <ion-icon slot="icon-only" name="ellipsis-vertical-outline"></ion-icon>
    </ion-button>
    <ion-popover #popover [isOpen]="isOpen" (didDismiss)="isOpen = false" >
      <ng-template >
       <ion-content style="background-color: rgb(19, 1, 1);">

        <ion-list style="background-color: rgb(19, 1, 1);">
          <ion-radio-group value="sinhala">
            <ion-item color="rgb(19, 1, 1)">
              <ion-label color="light">English</ion-label>
              <ion-radio slot="end" value="english" (click)="isOpen = false" routerLink="/detect/crop-cropvar/crops/brinjal/pest-diseases/diseases"></ion-radio>
            </ion-item>
        
            <ion-item color="rgb(19, 1, 1)">
              <ion-label color="light">සිංහල</ion-label>
              <ion-radio slot="end" value="sinhala" (click)="isOpen = false" routerLink="/sdetect/scrop-cropvar/scrops/sbrinjal/spest-diseases/sdiseases"></ion-radio>
            </ion-item>

            <ion-item color="rgb(19, 1, 1)">
              <ion-label color="light">தமிழ்</ion-label>
              <ion-radio slot="end" value="tamil" (click)="isOpen = false" routerLink="/tdetect/tcrop-cropvar/tcrops/tbrinjal/tpest-diseases/tdiseases"></ion-radio>
            </ion-item>
        
          </ion-radio-group>
        </ion-list>
        
       </ion-content>
      </ng-template>
    </ion-popover>
  </ion-toolbar>
</ion-header>

<ion-content style="--background: rgb(19, 1, 1);">

    <h5 style="color: #ffffff; font-size: 22px;"><b>දිලීර රෝග</b></h5>
    
    <ion-item style="--background: rgb(19, 1, 1);">
      <ion-button expand="full" (click)="slidedown1()" fill="clear">
        <h6 style="color: #5cf304; font-size: 18px;">1) දියමලං කෑම</h6>
        <ion-icon style="color: #5cf304;" name="{{updownicon1}}" slot="end"></ion-icon>
      </ion-button>
    </ion-item>
    
    <div [hidden]=ishidden1>
      <ion-card style="--background: rgb(19, 1, 1);">
        <ion-card-content style="color: #ffffff; font-size: 17px;">
          <ion-text>
            <b>රෝග කාරකය:</b> Pythium spp.,  Phytophthora spp., Fusarium spp.,  Rhizoctonia spp. and  Sclerotium rolfsii <br> <br>
            
            <b> රෝග ලක්ෂණ:</b>
    ,       <ul> 
            <li>බීජ පැල කඳේ පාමුලින් ක්ෂණිකව කඩා වැටේ.</li>
            <li>මුල් කුණු වී බීජ පැල මියයාම.</li>
            <li>Rhizoctonia spp හෙතුවෙන්   පාමුල දුඹුරු කළු පැහැ වේ.</li>
            </ul>
          </ion-text>
    
          <ion-item style="--background: rgb(19, 1, 1);">
            <img src="assets/crops/brinjal/read/damping-off-1.png" class="img">
            <img src="assets/crops/brinjal/read/damping-off-2.jpg" class="img" style="margin-left: 10%">
          </ion-item><br>
    
          <ion-text>
            <b> පාලනය</b>
    ,       <ul> 
            <li>තවාන් පාත්ති පෙර වගා නොකල හා හොදින් ජලය බැස යන භූමියක සකස් කරන්න.</li>
            <li>තවාන් පාත්ති ජීවාණුහරණය කරන්න – පිළිස්සීම, සූර්‍ය තාපනය හෝ රසායනික ද්‍රව්‍ය මගින්</li>
            <li>අසාදිත ශාක හා ආසන්න පස ඉවත් කරන්න.</li>
            <li>බීජ ප්‍රතිකාර කිරිම (බීජ වැපිරීමට පෙර සිදු කල යුතුයි.)
              තිරාම් 80% WP  – 5g/ kg තයෝෆනේට්-මීතයිල්  50% WP  + තිරාම් 30% WP –  4g/ kg කැප්ටාන් 50% WP  – 6g/ kg.</li>
            <li>පාංශු ප්‍රතිකාර කිරීම –ස්ථානීය යෙදුමක් ලෙස ශාකයේ පාමුල වටා නිර්දේශිත දිලීර නාශකයකින්  පොඟවන්න.
              තයෝෆනේට් මීතයිල් 50% WP  + තිරාම් 30% WP  –  50g/50l / 10m2 තිරාම් 80% WP –  70g/50l    10m2 කැප්ටාන්  50% WP  –  60g/50l / 10m2</li>
          </ul>
          </ion-text>
        </ion-card-content>
      </ion-card>
    </div>

    <br>
    <ion-item style="--background: rgb(19, 1, 1);">
      <ion-button expand="full" (click)="slidedown2()" fill="clear">
        <h6 style="color: #5cf304; font-size: 18px;">2) පාමුල/පාදස්ඨ කුණුවීම </h6>
        <ion-icon style="color: #5cf304;" name="{{updownicon2}}" slot="end"></ion-icon>
      </ion-button>
    </ion-item>
    
    <div [hidden]=ishidden2>
      <ion-card style="--background: rgb(19, 1, 1);">
        <ion-card-content style="color: #ffffff; font-size: 17px;">
          <ion-text>
            <b>රෝග කාරකය:</b> Sclerotium rolfsii  <br> <br>
            
            <b> රෝග ලක්ෂණ:</b>
    ,       <ul> 
            <li>පත්‍ර කහ පැහැ වීම. </li>
            <li>පාමුල ප්‍රදේශය දිරායාම සිදු වේ. </li>
            <li>පාමුල ප්‍රදේශයේ දිලීර ජාල පැවතී හෝ දුඹුරු පැහැ ජාල පැවතීම. </li>
            </ul>
          </ion-text>
    
          <ion-item style="--background: rgb(19, 1, 1);">
            <img src="assets/crops/brinjal/read/collar-rot-1.png" class="img">
          </ion-item> <br>
    
          <ion-text>
            <b> පාලනය </b>
    ,       <ul> 
            <li>ආසාදිත ශාක හා ආසන්න පස විනාශ කිරීම.</li>
            <li>ජල වහනය දියුණු කිරීම.</li>
            <li>ගැඹුරින් පස සීසෑම හා ආසාදිත පස දැඩි හිරු එළියට නිරාවරණය කිරීම.</li>
            <li>බීජ පැල ක්ශේත්‍රයේ රෝපණය කිරීමේදී මුල් වලට හානි වීම වැළැක්වීම.</li>
            <li>පාංශු ප්‍රතිකාර කිරීම-ස්ථානීය යෙදුමක් ලෙස ශාකයේ පාමුල වටා නිර්දේශිත දිලීර නාශකයකින්  පොඟවන්න
              තයෝෆනේට් මීතයිල් 50% WP  + තිරාම් 30% WP  –  50g/50l / 10m2 තිරාම් 80% WP –  70g/50l    10m2 කැප්ටාන්  50% WP  –  60g/50l / 10m2</li>
            
          </ul>
          </ion-text>
        </ion-card-content>
      </ion-card>
    </div>

    <br>
    <ion-item style="--background: rgb(19, 1, 1);">
      <ion-button expand="full" (click)="slidedown3()" fill="clear">
        <h6 style="color: #5cf304; font-size: 18px;">3) ෆියුසාරියම් හිටු මැරීම </h6>
        <ion-icon style="color: #5cf304;" name="{{updownicon3}}" slot="end"></ion-icon>
      </ion-button>
    </ion-item>
    
    <div [hidden]=ishidden3>
      <ion-card style="--background: rgb(19, 1, 1);">
        <ion-card-content style="color: #ffffff; font-size: 17px;">
          <ion-text>
            <b>රෝග කාරකය:</b> Fusarium oxysporum f.sp lycopersici <br> <br>
            
            <b> රෝග ලක්ෂණ:</b>
    ,       <ul> 
            <li>පත්‍ර කහ පැහැ වී මැළවීම. </li>
            <li> කදෙහි ඇති වාහිණි අවපැහැවීම. </li>
            <li> මුල් කුණු වීම හා ශාක මියයාම සිදු වේ. </li>
            </ul> <br> <br>
    
            <b> පාලනය </b>
    ,       <ul> 
            <li>ආසාදිත ශාක හා ආසන්න පස විනාශ කිරීම.</li>
            <li>ජල වහනය දියුණු කිරීම.</li>
            <li>ගැඹුරින් පස සීසෑම හා ආසාදිත පස දැඩි හිරු එළියට නිරාවරණය කිරීම.</li>
            <li>බීජ පැල ක්ශේත්‍රයේ රෝපණය කිරීමේදී මුල් වලට හානි වීම වැළැක්වීම. </li>
            <li>පාංශු ප්‍රතිකාර කිරීම-ස්ථානීය යෙදුමක් ලෙස ශාකයේ පාමුල වටා නිර්දේශිත දිලීර නාශකයකින්  පොඟවන්න
තයෝෆනේට් මීතයිල් 50% WP  + තිරාම් 30% WP  –  50g/50l / 10m2

තිරාම් 80% WP –  70g/50l    10m2 </li>
          </ul>
    
          </ion-text>
        </ion-card-content>
      </ion-card>
    </div>

    <br>
    <ion-item style="--background: rgb(19, 1, 1);">
      <ion-button expand="full" (click)="slidedown4()" fill="clear">
        <h6 style="color: #5cf304; font-size: 18px;">4) පිටු පුස් රෝගය</h6>
        <ion-icon style="color: #5cf304;" name="{{updownicon4}}" slot="end"></ion-icon>
      </ion-button>
    </ion-item>
    
    <div [hidden]=ishidden4>
      <ion-card style="--background: rgb(19, 1, 1);">
        <ion-card-content style="color: #ffffff; font-size: 17px;">
    
          <ion-text>
            <b>රෝග කාරකයා :</b> Podosphaera xanthii 
          </ion-text><br>
    
          <ion-item style="--background: rgb(19, 1, 1);">
              <img src="assets/crops/brinjal/read/powdery-mildew.jpg" class="img">
          </ion-item><br>
            
           
          <ion-text>
          <b> රෝග ලක්ෂණ:</b>
    ,       <ul> 
            <li>වටකුරු කහ පැල්ලම් හෝ ලප පත්‍ර වල යටි අපිචර්මයේ මතුපිට දිස් වේ.</li>
            <li>පත්‍ර වල උඩු අපිචර්මයේ මතුපිට සුදු පැහැති පිටි වැනි  අවශේෂ දක්නට ලැබේ. </li>
            </ul><br><br>
          
          <b> පාලනය </b>
    ,       <ul> 
            <li>රෝග වර්ධනයේ මුල් අවස්තාවේදී නිර්දේශිත දිලීර නාශක භාවිතා කරන්න. (යොමුව: නිර්දේශිත පලිබෝධනාශක  DOA, 2019)</li>
            <ul>
              <li>සල්ෆර් යොදන්න 80% WG 50 g/ජලය 10 l</li>
              <li>ක්ලෝරෝතැලෝනිල් 500g/l SC- 30 ml/ජලය 10 l</li>
              <li>කාබෙන්ඩිසම් 50% WP- 7 g/ජලය 10 l</li>
            </ul>
          </ul>
    
          </ion-text>
        </ion-card-content>
      </ion-card>
    </div>


  <br>
  <ion-item style="--background: rgb(19, 1, 1);">
    <ion-button expand="full" (click)="slidedown5()" fill="clear">
      <h6 style="color: #5cf304; font-size: 16px;"> 5) ඇන්ත්‍රෑක්නෝස් </h6>
      <ion-icon style="color: #5cf304;" name="{{updownicon5}}" slot="end"></ion-icon>
    </ion-button>
  </ion-item>
  
  <div [hidden]=ishidden5>
    <ion-card style="--background: rgb(19, 1, 1);">
      <ion-card-content style="color: #ffffff; font-size: 17px;">
  
        <ion-text>
          <b>‍රෝග කාරකය : </b> Colletotrichum gloeosporioides<br><br>
          <b> රෝග ලක්ෂණ:</b>
          <ul> 
            <li>ගිලුණු වෘත්තාකාර  පැල්ලම් මැද තඹ පැහැයේ සිට තැඹිලි පැහැයට වු කලු පැහැති කේන්ද්‍රීය මුදු දක්නට ලැබේ.</li>
            <li>රෝස පැහැති කොනීඩියා හෙවත් බීජාණු තුවාල පැල්ලම් වලින් වෑස්සෙනු දක්නට ලැබේ.</li>
          </ul>
        </ion-text><br><br>
  
        <ion-item style="--background: rgb(19, 1, 1);">
            <img src="assets/crops/brinjal/read/anthracnose1.png" class="img">
            <img src="assets/crops/brinjal/read/anthracnose2.png.jpg" class="img" style="margin-left: 10%">
        </ion-item><br>
          
        <ion-text>
        <b> පාලනය</b>
  ,       <ul> 
          <li> සෞඛ්‍ය සම්පන්න බීජ භාවිතය
          </li>
          <li>අතිරික්ත ජල සම්පාදනය සිදු කිරීමෙන් වළකින්න </li>
          <li>ආසාදිත පලතුරු ඉවත් කර විනාශ කරන්න</li>
          <li>බීජ ප්‍රතිකාර කිරීම (බීජ සිටුවීමට පෙර කළ යුතුය)
            තිරාම් 80% WP – 5g / kg තෝෆනේට්-මෙතිල් 50% WP + තිරාම් 30% WP – 4g / kg කැප්ටාන් 50% WP – 6g / kg. </li>
          <li>වැසි සමයේදී සපුෂ්පක අවධියේදී දිලීර නාශක යෙදීම ආරම්භ වේ
            ෆ්ලූසිනම් 500g / 1 SC – 10 ml / 10l ජලය මෙටිරාම් 55% + පයිරොක්ලොස්ට්‍රොබින් 5% WP – ජලය 20 g / 10l කාබෙන්ඩිසම් 50% WG – ජලය 7 g / 10l තයොෆනේට්-මෙතිල් 70% WP – ජලය 6g / 10l ක්ලෝරෝතලෝනිල් 500 එස්සී – ජලය මිලි ලීටර් 30 යි</li>
         </ul>
  
        </ion-text>


      </ion-card-content>
    </ion-card>
  </div>
  

  <br>
  <ion-item style="--background: rgb(19, 1, 1);">
    <ion-button expand="full" (click)="slidedown6()" fill="clear">
      <h6 style="color: #5cf304; font-size: 16px;"> 6) ෆෝමෝසිස් අංගමාරය </h6>
      <ion-icon style="color: #5cf304;" name="{{updownicon6}}" slot="end"></ion-icon>
    </ion-button>
  </ion-item>
  
  <div [hidden]=ishidden6>
    <ion-card style="--background: rgb(19, 1, 1);">
      <ion-card-content style="color: #ffffff; font-size: 17px;">
  
        <ion-text>
          <b>රෝග කාරකය:</b> Phomopsis vexans <br><br>

        <b> රෝග ලක්ෂණය:</b>
  ,       <ul> 
          <li>කලු පැහැ දාර සහිත අලු පැහැ කුඩා කැන්කර් පැල්ලම් කදේ හා නාරටි වල දක්නට ලැබේ. </li>
          <li>කොනීඩියා වර්ධනය වීම හේතුවෙන් පැල්ලම් වල කේන්ද්‍රය දුඹුරු පැහයේ සිට කලු පැහැයට හැරේ.</li>
          <li>මෘදු හා ජලය සහිත පළතුරු ලප කළු පැහැ වන අතර ඒවා මැරුණු  බවට පත්වේ</li>
          </ul><br><br>
        </ion-text>
  
        <ion-item style="--background: rgb(19, 1, 1);">
            <img src="assets/crops/brinjal/read/Phomopsis-blight.png" class="img">
        </ion-item><br>
          
         
        <ion-text>
        <b>  පාලනය</b>
  ,       <ul> 
          <li>ආසාදිත පලතුරු ඉවත් කිරීම හා විනාශ කිරීම
          </li>
          <li>රෝග වර්ධනය ආරම්භක අවධියේදී නිර්දේශිත දිලීර නාශක භාවිතා කරන්න (බලන්න: පළිබෝධනාශක නිර්දේශය DOA, 2019)
            ක්ලෝරෝතලෝනිල් 500g / l SC- 30 ml / 10 l ජලය කාර්බෙන්ඩසිම් 50% WP- 7 g / 10 l ජලය තයොෆනේට්-මෙතිල් 70% WP 6g / 10l ජලය
            </li>
          </ul>
        </ion-text>


      </ion-card-content>
    </ion-card>
  </div>
  


  
  <br><h5 style="color: #ffffff; font-size: 20px;"><b>බැක්ටීරීයා රෝග</b></h5><br>

  <ion-item style="--background: rgb(19, 1, 1);">
    <ion-button expand="full" (click)="slidedown7()" fill="clear">
      <h6 style="color: #5cf304; font-size: 16px;"> 7) බැක්ටීරියා හිටුමැරීම </h6>
      <ion-icon style="color: #5cf304;" name="{{updownicon7}}" slot="end"></ion-icon>
    </ion-button>
  </ion-item>
  
  <div [hidden]=ishidden7>
    <ion-card style="--background: rgb(19, 1, 1);">
      <ion-card-content style="color: #ffffff; font-size: 17px;">
  
        <ion-text>
          <b>රෝග කාරකය: </b> Ralstonia solanacearum<br><br> 
          <b> රෝග ලක්ෂණ:</b>
  ,       <ul> 
          <li>තනි ශාඛා / අතු මඳක් මැලවීමේ ලක්ෂණ පෙන්වයි.</li>
          <li>සම්පූර්ණ ශාකයේ ඉක්මන් හා ස්ථිර මැලවීම සිදු වේ.</li>
          <li>සනාල පටක වල පැහැය අව පැහැ වේ.</li>
          <li>ආසාදිත කොටස් වල කැපුම් පෘෂ්ටය පැහැදිලි ජලයේ ගිල් වු විට සිහින් දුස්ස්‍රාවී බැක්ටීරියා ශ්‍රාවයක්  කැපුම් කෙළවරේ සිට පිටතට පැමිණේ. </li>
          </ul>
        </ion-text><br><br>
  
        <ion-item style="--background: rgb(19, 1, 1);">
            <img src="assets/crops/brinjal/read/bacterial-wilt1.png" class="img">
            <img src="assets/crops/brinjal/read/bacterial-wilt2.png" class="img" style="margin-left: 10%">
        </ion-item><br>
          
         
        <ion-text>
        <b>  කළමනාකරණය</b>
  ,       <ul> 
          <li>ආසාදිත වූ ශාක පස් සමගම ඉවත්කර විනාශ කරන්න.</li>
          <li>අස්වනු නෙලූ පසු බෝග අවශේෂ විනාශ කර දමන්න. </li>
          <li>රෝගයට ග්‍රාහී නොවන බෝග (කෘසිෆරස් කුලයේ එළවළු සහ බණ්ඩක්කා) සමඟ බෝග මාරුව සිදු කිරීම රෝග තත්වය අවම කිරීමට උපකාරී වේ.</li>
          <li>ප්‍රතිරෝධි ප්‍රභේද භාවිතා කිරීම. </li>
          <li>සියළුම ගොවිපල උපකරණ / මෙවලම් පිරිසිදු  කිරීමෙන් පසු විෂබීජහරණය කරන්න.</li>
          <li>රසායනික පාලන ක්‍රමයක් නොමැත.</li>
          </ul>
        </ion-text>


      </ion-card-content>
    </ion-card>
  </div>
  



  <br><h5 style="color: #ffffff; font-size: 20px;"><b>ෆයිටොප්ලාස්මා රෝගය</b></h5><br>

  <ion-item style="--background: rgb(19, 1, 1);">
    <ion-button expand="full" (click)="slidedown8()" fill="clear">
      <h6 style="color: #5cf304; font-size: 16px;"> 8) කුඩා කොළ රෝගය</h6>
      <ion-icon style="color: #5cf304;" name="{{updownicon8}}" slot="end"></ion-icon>
    </ion-button>
  </ion-item>
  
  <div [hidden]=ishidden8>
    <ion-card style="--background: rgb(19, 1, 1);">
      <ion-card-content style="color: #ffffff; font-size: 17px;">
  
        <ion-text>
          <b>‍රෝගකාරකය:</b> Phytoplasma The disease is transmitted by a leaf hopper(Hishimonus phycitiy)
          <br><br> 
          <b> රෝග ලක්ෂණ:</b>
  ,       <ul> 
          <li>කොළ පටු, මෘදු, සිනිඳු සහ කහ පැහැති වේ</li>
          <li>කඳේ අන්තරාලය කෙටි වේ</li>
          <li>සහායක අංකුර විශාල වන නමුත් ඒවායේ පොල් බීඩංග සහ කොළ කෙටි වන අතර ශාකයට පඳුරු පෙනුමක් ලබා දෙයි.</li>
          <li>මල් කොළ පාටයි / මල් පිපීම නැත</li>
          <li>ගෙඩි හටගැනීම දුලබය</li>
          </ul>
        </ion-text><br><br>
  
        <ion-item style="--background: rgb(19, 1, 1);">
            <img src="assets/crops/brinjal/read/Little-leaf-disease.png" class="img">
        </ion-item><br>


        <ion-text>
          <b>  පාලනය</b>
    ,       <ul> 
            <li>ආසාදිත ශාක ඉවත් කර පුළුස්සා දමන්න.</li>
            <li>රෝග පැතිරීම අවම කිරීම සඳහා නිර්දේශිත කෘමිනාශක සමඟ leaf hopper පාලනය කරන්න.</li>
            </ul>
          </ion-text>


      </ion-card-content>
    </ion-card>
  </div>

</ion-content>

<ion-footer [translucent]="true">
  <ion-toolbar>
    <div id="footer">
      <ion-button routerLink="/shome"  fill="clear">
        <ion-icon slot="icon-only" name="home" size="large"></ion-icon>
      </ion-button>
      <br><b>මුල් පිටුව</b>
    </div>
  </ion-toolbar>
</ion-footer>