<ion-header>
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-back-button routerLink="/shome"></ion-back-button>
    </ion-buttons>

    <ion-title><b>වළක්වන්න</b></ion-title>
  </ion-toolbar>
</ion-header>




<ion-content>

  <ion-item>

    <ion-text style="font-size:20px">එය ඔබම කියවන්න</ion-text>

    <img src="/assets/read.png" slot="start" style="width:50px;height:50px;">

</ion-item> <br>



  <ion-item>

    <ion-text style="font-size:20px">පූර්වාරක්ෂාවන් තෝරන්න</ion-text>

    <img src="/assets/precautions.png" slot="start" style="width:50px;height:50px;">

  </ion-item>

</ion-content>



<ion-footer [translucent]="true">
  <ion-toolbar>
    <div id="footer">
      <ion-button routerLink="/shome"  fill="clear">
        <ion-icon slot="icon-only" name="home" size="large"></ion-icon>
      </ion-button>
      <br><b>මුල් පිටුව</b>
    </div>
  </ion-toolbar>
</ion-footer>