<ion-header>
    <ion-toolbar class="header-footer-background-color">
      <ion-title class="header-footer-component">Welcome Tour</ion-title>
      <ion-buttons slot="start">
        <ion-back-button routerLink="/settings" class="header-footer-component"></ion-back-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-slides pager style="height:fit-content;">
    <ion-slide>
      <img src="/assets/welcome/languvages.jpg">
    </ion-slide>
    <ion-slide>
      <img src="/assets/welcome/Detect.jpg">
    </ion-slide>
    <ion-slide>
      <img src="/assets/welcome/Crops.jpg">
    </ion-slide>
    <ion-slide>
      <img src="/assets/welcome/variety.jpg">
    </ion-slide>
    <ion-slide>
      <img src="/assets/welcome/Answer to detect.jpg">
    </ion-slide>
  </ion-slides>

</ion-content>

<ion-footer [translucent]="true">
  <ion-toolbar  class="header-footer-background-color" >
    <div id="footer" class="header-footer-component">
      <ion-button routerLink="/home"  fill="clear">
        <ion-icon slot="icon-only" name="home" size="large" class="header-footer-component"></ion-icon>
      </ion-button>
      <br>Home
    </div>
  </ion-toolbar>
</ion-footer>

