<ion-header>
  <ion-toolbar class="header-footer-background-color">
    <ion-buttons slot="start" (click)="closeModal()">
      <ion-icon slot="icon-only" name="arrow-back-outline" class="header-footer-component"></ion-icon>
    </ion-buttons>

    <ion-title class="header-footer-component">{{ variety.variety_name }} - Pests</ion-title>


  </ion-toolbar>
</ion-header>

<ion-content  style="--background: rgb(19, 1, 1);">
  <br>
  <div>
    <ion-text style="color: #ffffff;">Click on a pest name to see details</ion-text>
    <br><br>

    <div *ngFor="let pest of pests$|async">
      <ion-item (click)="openPestDetailsModal(pest)" style="--background: rgb(19, 1, 1);">
        <img src="{{pest.img_path}}">
        <ion-text style="color: #ffffff; font-size: 16px;">{{ pest.pest_name }}</ion-text>
        <ion-icon name="chevron-forward-outline" style="color: #5cf304;" slot="end"></ion-icon>
     </ion-item>
    </div>

  </div>
  <br>

</ion-content>

<ion-footer [translucent]="true">
  <ion-toolbar class="header-footer-background-color">
    <div id="footer" class="header-footer-component">
      <ion-button fill="clear" (click)="closeAllModals()" routerLink="/firstpage">
        <ion-icon slot="icon-only" name="home" size="large" class="header-footer-component"></ion-icon>
      </ion-button>
      <br>Home
    </div>
  </ion-toolbar>
</ion-footer>
