<ion-header>
  <ion-toolbar class="header-footer-background-color">

    <ion-buttons slot="start">
      <ion-back-button routerLink="/crops/brinjal" class="header-footer-component"> </ion-back-button>
    </ion-buttons>  

    <ion-title class="header-footer-component"><b>Read</b></ion-title>

    <ion-button (click)="presentPopover($event)" fill="clear" slot="end">
      <ion-icon slot="icon-only" name="ellipsis-vertical-outline" class="header-footer-component"></ion-icon>
    </ion-button>
    <ion-popover #popover [isOpen]="isOpen" (didDismiss)="isOpen = false" >
      <ng-template >
       <ion-content style="background-color: rgb(19, 1, 1);">

        <ion-list style="background-color: rgb(19, 1, 1);">
          <ion-radio-group value="english">
            <ion-item color="rgb(19, 1, 1)">
              <ion-label color="light">English</ion-label>
              <ion-radio slot="end" value="english" (click)="isOpen = false" routerLink="/crops/brinjal/read"></ion-radio>
            </ion-item>
        
            <ion-item color="rgb(19, 1, 1)">
              <ion-label color="light">සිංහල</ion-label>
              <ion-radio slot="end" value="sinhala" (click)="isOpen = false" routerLink="/scrops/sbrinjal/sread"></ion-radio>
            </ion-item>
        
          </ion-radio-group>
        </ion-list>
        
       </ion-content>
      </ng-template>
    </ion-popover>
  </ion-toolbar>
</ion-header>

<ion-content style="--background: rgb(19, 1, 1);">
<br>
<h5 style="color: #ffffff; font-size: 20px;"><b>Fungal Diseases</b></h5><br>

<ion-item style="--background: rgb(19, 1, 1);">
  <ion-button expand="full" (click)="slidedown1()" fill="clear">
    <h6 style="color: #5cf304; font-size: 16px;">1) Damping-Off</h6>
    <ion-icon style="color: #5cf304;" name="{{updownicon1}}" slot="end"></ion-icon>
  </ion-button>
</ion-item>

<div [hidden]=ishidden1>
  <ion-card style="--background: rgb(19, 1, 1);">
    <ion-card-content style="color: #ffffff; font-size: 17px;">
      <ion-text>
        <b>Causal organism:</b> Pythium spp.,  Phytophthora spp., Fusarium spp.,  Rhizoctonia spp. and  Sclerotium rolfsii <br> <br>
        
        <b> Symptoms:</b>
,       <ul> 
        <li>Sudden collapsing seedlings at the base of the stem </li>
        <li>Root rot and seedling death</li>
        <li>Brownish black discoloration at the base due to Rhizoctonia spp</li>
        </ul>
      </ion-text>

      <ion-item style="--background: rgb(19, 1, 1);">
        <img src="assets/crops/brinjal/read/damping-off-1.png" class="img">
        <img src="assets/crops/brinjal/read/damping-off-2.jpg" class="img" style="margin-left: 10%">
      </ion-item><br>

      <ion-text>
        <b> Management </b>
,       <ul> 
        <li>Prepare nursery beds in well drained virgin soil</li>
        <li>Nursery sterilization – burning, solarization or with chemicals</li>
        <li>Remove affected plants with the adjacent soil</li>
        <li>Seed treatment (should be done just before seeding)-Thiram 80% WP  – 5g/ kg -Thiophanate-methyl  50% WP  + Thiram  30% WP –  4g/ kg -Captan 50% WP  – 6g/ kg.</li>
        <li>Soil treatment – Drench with a recommended fungicide around the base of the plant as spot application
          – Thiophanate-methyl 50% WP  + Thiram 30% WP  –  50g/50l / 10m2 – Thiram 80% WP –  70g/50l    10m2 – Captan  50% WP  –  60g/50l / 10m2</li>
      </ul>
      </ion-text>
    </ion-card-content>
  </ion-card>
</div>

<br>
<ion-item style="--background: rgb(19, 1, 1);">
  <ion-button expand="full" (click)="slidedown2()" fill="clear">
    <h6 style="color: #5cf304; font-size: 16px;">2) Collar rot</h6>
    <ion-icon style="color: #5cf304;" name="{{updownicon2}}" slot="end"></ion-icon>
  </ion-button>
</ion-item>

<div [hidden]=ishidden2>
  <ion-card style="--background: rgb(19, 1, 1);">
    <ion-card-content style="color: #ffffff; font-size: 17px;">
      <ion-text>
        <b>Causal organism:</b> Sclerotium rolfsii  <br> <br>
        
        <b> Symptoms:</b>
,       <ul> 
        <li>Yellowing of leaves </li>
        <li>Decaying near collar region </li>
        <li>Mycelia mat with white / brown Sclerotia on collar region </li>
        </ul>
      </ion-text>

      <ion-item style="--background: rgb(19, 1, 1);">
        <img src="assets/crops/brinjal/read/collar-rot-1.png" class="img">
      </ion-item> <br>

      <ion-text>
        <b> Management </b>
,       <ul> 
        <li>Destroy affected plants with the adjacent soil</li>
        <li>Improve drainage</li>
        <li>Deeply plough the land and expose to affected soil to bright sunlight</li>
        <li>Avoid root damage at transplanting</li>
        <li>Soil treatment – Drench with a recommended fungicide around the base of the plant as spot application
          – Thiophanate-methyl 50% WP  + Thiram 30% WP  –  50g/50l / 10m2 – Thiram 80% WP –  70g/50l / 10m2 – Captan  50% WP  –  60g/50l / 10m2</li>
        
      </ul>
      </ion-text>
    </ion-card-content>
  </ion-card>
</div>


<br>
<ion-item style="--background: rgb(19, 1, 1);">
  <ion-button expand="full" (click)="slidedown3()" fill="clear">
    <h6 style="color: #5cf304; font-size: 16px;">3) Fusarium wilt </h6>
    <ion-icon style="color: #5cf304;" name="{{updownicon3}}" slot="end"></ion-icon>
  </ion-button>
</ion-item>

<div [hidden]=ishidden3>
  <ion-card style="--background: rgb(19, 1, 1);">
    <ion-card-content style="color: #ffffff; font-size: 17px;">
      <ion-text>
        <b>Causal organism:</b> Fusarium oxysporum f.sp lycopersici <br> <br>
        
        <b> Symptoms:</b>
,       <ul> 
        <li>Yellowing of leaves and wilt </li>
        <li> Vascular discoloration of stem </li>
        <li> Root rot and dying of the plant</li>
        </ul> <br> <br>

        <b> Management </b>
,       <ul> 
        <li>Destroy affected plants with the adjacent soil</li>
        <li>Improve drainage</li>
        <li>Deeply plough the land and expose to affected soil to bright sunlight</li>
        <li>Avoid root damage at transplanting </li>
        <li>Soil treatment – Drench with a recommended fungicide around the base of the plant as spot application
          – Thiophanate-methyl 50% WP  + Thiram 30% WP  –  50g/50l / 10m2 – Thiram 80% WP –  70g/50l / 10m2                           
          – Captan  50% WP  –  60g/50l / 10m2   </li>
      </ul>

      </ion-text>
    </ion-card-content>
  </ion-card>
</div>


<br>
<ion-item style="--background: rgb(19, 1, 1);">
  <ion-button expand="full" (click)="slidedown4()" fill="clear">
    <h6 style="color: #5cf304; font-size: 16px;">4) Powdery mildew</h6>
    <ion-icon style="color: #5cf304;" name="{{updownicon4}}" slot="end"></ion-icon>
  </ion-button>
</ion-item>

<div [hidden]=ishidden4>
  <ion-card style="--background: rgb(19, 1, 1);">
    <ion-card-content style="color: #ffffff; font-size: 17px;">

      <ion-text>
        <b>Causal organism:</b> Podosphaera xanthii 
      </ion-text><br><br>

      <ion-item style="--background: rgb(19, 1, 1);">
          <img src="assets/crops/brinjal/read/powdery-mildew.jpg" class="img">
      </ion-item><br>
        
       
      <ion-text>
      <b> Symptoms:</b>
,       <ul> 
        <li>Circular yellow patches or spots appear on the lower surface of the leaves.</li>
        <li>White powdery residue on the upper leaf surface. </li>
        </ul><br><br>
      
      <b> Management </b>
,       <ul> 
        <li>Use recommended fungicides at initial stage of disease development (Refer: Pesticide recommendation DOA, 2019)</li>
        <ul>
          <li>Apply sulfur 80% WG 50 g/10 l of water</li>
          <li>Chlorothalonil 500g/l SC- 30 ml/10 l of water</li>
          <li>Carbendazim 50% WP- 7 g/10 l of water</li>
        </ul>
      </ul>

      </ion-text>
    </ion-card-content>
  </ion-card>
</div>

</ion-content>

<ion-footer [translucent]="true">
  <ion-toolbar class="header-footer-background-color"
  >
    <div id="footer" class="header-footer-component">
      <ion-button routerLink="/home"  fill="clear" >
        <ion-icon slot="icon-only" name="home" size="large" class="header-footer-component"></ion-icon>
      </ion-button>
      <br><b>Home</b>
    </div>
  </ion-toolbar>
</ion-footer>