<ion-header>
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>  

    <ion-title><b>Read</b></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

</ion-content>

<ion-footer [translucent]="true">
  <ion-toolbar>
    <div id="footer">
      <ion-button routerLink="/home"  fill="clear">
        <ion-icon slot="icon-only" name="home" size="large"></ion-icon>
      </ion-button>
      <br><b>Home</b>
    </div>
  </ion-toolbar>
</ion-footer>