<ion-header>
  <ion-toolbar  class="header-footer-background-color">

    <ion-buttons slot="start" routerLink="/detect/crop-cropvar" (click)="closeModal()">
      <ion-icon slot="icon-only" name="arrow-back-outline" class="header-footer-component"></ion-icon>
    </ion-buttons>

    <ion-title class="header-footer-component"></ion-title>

    <ion-button (click)="presentPopover($event)" fill="clear" slot="end">
      <ion-icon slot="icon-only" name="ellipsis-vertical-outline" class="header-footer-component"></ion-icon>
    </ion-button>
    <ion-popover #popover [isOpen]="isOpen" (didDismiss)="isOpen = false" >
      <ng-template >
       <ion-content style="background-color: rgb(19, 1, 1);">

        <ion-list style="background-color: rgb(19, 1, 1);">
          <ion-radio-group value="english">
            <ion-item color="rgb(19, 1, 1)">
              <ion-label style="color: #ffffff;">English</ion-label>
              <ion-radio slot="end" value="english" (click)="isOpen = false" routerLink="/detect/crop-cropvar/crops"></ion-radio>
            </ion-item>

            <ion-item color="rgb(19, 1, 1)">
              <ion-label style="color: #ffffff;">සිංහල</ion-label>
              <ion-radio slot="end" value="sinhala" (click)="isOpen = false" routerLink="/sdetect/scrop-cropvar/scrops"></ion-radio>
            </ion-item>

            <ion-item color="rgb(19, 1, 1)">
              <ion-label style="color: #ffffff;">தமிழ்</ion-label>
              <ion-radio slot="end" value="tamil" (click)="isOpen = false" routerLink="/tdetect/tcrop-cropvar/tcrops"></ion-radio>
            </ion-item>

          </ion-radio-group>
        </ion-list>

       </ion-content>
      </ng-template>
    </ion-popover>
  </ion-toolbar>

</ion-header>

<ion-content style="--background: rgb(19, 1, 1);">

  <ion-segment value="default">

    <ion-segment-button (click)="closeModal()">
      <ion-label style="color: #ffffff; font-size: 18px;">Crops</ion-label>
    </ion-segment-button>

    <ion-segment-button  value="default">
      <ion-label style="color: #ffffff; font-size: 18px;">Varieties</ion-label>
    </ion-segment-button>

  </ion-segment>

  <br>
  <h5 style="color: #ffffff; text-align: center;">Crop is not selected</h5>

  <p style="text-align: center;">
    <ion-button shape="round" style="--background: #5cf304; width: 200px;" (click)="closeModal()">
      <h6 style="color: #ffffff;">Select Crop</h6>
    </ion-button>
  </p>

</ion-content>

<ion-footer [translucent]="true">
  <ion-toolbar  class="header-footer-background-color">
    <div id="footer" class="header-footer-component">
      <ion-button routerLink="/home"  fill="clear" (click)="closeModal()">
        <ion-icon slot="icon-only" name="home" size="large" class="header-footer-component"></ion-icon>
      </ion-button>
      <br><b>Home</b>
    </div>
  </ion-toolbar>
</ion-footer>
