<ion-header>
  <ion-toolbar  class="header-footer-background-color">

    <ion-buttons slot="start" routerLink="/detect/crop-cropvar" (click)="closeModal()">
      <ion-icon slot="icon-only" name="arrow-back-outline" class="header-footer-component"></ion-icon>
    </ion-buttons>

    <ion-title class="header-footer-component"></ion-title>


  </ion-toolbar>

</ion-header>

<ion-content style="--background: rgb(19, 1, 1);">

  <ion-segment value="default">

    <ion-segment-button (click)="closeModal()">
      <ion-label style="color: #ffffff; font-size: 18px;">Crops</ion-label>
    </ion-segment-button>

    <ion-segment-button  value="default">
      <ion-label style="color: #ffffff; font-size: 18px;">Varieties</ion-label>
    </ion-segment-button>

  </ion-segment>

  <br>
  <h5 style="color: #ffffff; text-align: center;">Crop is not selected</h5>

  <p style="text-align: center;">
    <ion-button shape="round" style="--background: #296b02bd; width: 200px;" (click)="closeModal()">
      <h6 style="color: #ffffff;">Select Crop</h6>
    </ion-button>
  </p>

</ion-content>

<ion-footer [translucent]="true">
  <ion-toolbar  class="header-footer-background-color">
    <div id="footer" class="header-footer-component">
      <ion-button routerLink="/firstpage"  fill="clear" (click)="closeModal()">
        <ion-icon slot="icon-only" name="home" size="large" class="header-footer-component"></ion-icon>
      </ion-button>
      <br>Home
    </div>
  </ion-toolbar>
</ion-footer>
