<ion-header>
  <ion-toolbar class="header-footer-background-color"
  >
    <ion-buttons slot="start">
      <ion-back-button routerLink="/tdetect/tcrop-cropvar" class="header-footer-component"></ion-back-button>
    </ion-buttons>

    <ion-title class="header-footer-component">கத்தரிக்காய்</ion-title>

    <ion-button (click)="presentPopover($event)" fill="clear" slot="end">
      <ion-icon slot="icon-only" name="ellipsis-vertical-outline" class="header-footer-component"></ion-icon>
    </ion-button>
    <ion-popover #popover [isOpen]="isOpen" (didDismiss)="isOpen = false" >
      <ng-template >
       <ion-content style="background-color: rgb(19, 1, 1);">

        <ion-list style="background-color: rgb(19, 1, 1);">
          <ion-radio-group value="tamil">
            <ion-item color="rgb(19, 1, 1)">
              <ion-label color="light">English</ion-label>
              <ion-radio slot="end" value="english" (click)="isOpen = false" routerLink="/detect/crop-cropvar/crops-varieties/brinjal"></ion-radio>
            </ion-item>
        
            <ion-item color="rgb(19, 1, 1)">
              <ion-label color="light">සිංහල</ion-label>
              <ion-radio slot="end" value="sinhala" (click)="isOpen = false" routerLink="/sdetect/scrop-cropvar/scrops-varieties/sbrinjal"></ion-radio>
            </ion-item>
        
            <ion-item color="rgb(19, 1, 1)">
              <ion-label color="light">தமிழ்</ion-label>
              <ion-radio slot="end" value="tamil" (click)="isOpen = false" routerLink="/tdetect/tcrop-cropvar/tcrops-varieties/tbrinjal"></ion-radio>
            </ion-item>

          </ion-radio-group>
        </ion-list>
        
       </ion-content>
      </ng-template>
    </ion-popover>
  </ion-toolbar>
</ion-header>
<ion-content style="--background: rgb(19, 1, 1);">

  <ion-segment value="default">

    <ion-segment-button routerLink="/tdetect/tcrop-cropvar/tcrops-varieties" value="segment">
      <ion-label style="color: #ffffff; font-size: 18px;">Crops</ion-label>
    </ion-segment-button>

    <ion-segment-button value="default">
      <ion-label style="color: #ffffff; font-size: 18px;">varieties</ion-label>
    </ion-segment-button>
  </ion-segment>

  <br>
  <ion-item style="--background: rgb(19, 1, 1);" >
    <img  src="assets/crops/brinjal/brinjalvarieties/amanda.jpg"><ion-label style="color: #5cf304; font-size: 20px;">அமந்தா</ion-label>
    <ion-icon name="chevron-forward-outline" style="color: #5cf304;" slot="end"></ion-icon>
  </ion-item>

  <br>
  <ion-item style="--background: rgb(19, 1, 1);" >
    <img  src="assets/crops/brinjal/brinjalvarieties/anjalee.jpg"><ion-label style="color: #5cf304; font-size: 20px;">அஞ்சலி</ion-label>
    <ion-icon name="chevron-forward-outline" style="color: #5cf304;" slot="end"></ion-icon> 
  </ion-item>

  <br>
  <ion-item style="--background: rgb(19, 1, 1);" >
    <img  src="assets/crops/brinjal/brinjalvarieties/hordi.jpg"><ion-label style="color: #5cf304; font-size: 20px;">ஹோடி லெனைரி</ion-label>
    <ion-icon name="chevron-forward-outline" style="color: #5cf304;" slot="end"></ion-icon>
  </ion-item>

  <br>
  <ion-item style="--background: rgb(19, 1, 1);" >
   <img  src="assets/crops/brinjal/brinjalvarieties/thinnawely.png"><ion-label style="color: #5cf304; font-size: 20px;">தின்னவெலி ஊதா</ion-label>
   <ion-icon name="chevron-forward-outline" style="color: #5cf304;" slot="end"></ion-icon>
  </ion-item>

  <br>
<ion-item style="--background: rgb(19, 1, 1);" >
  <img  src="assets/crops/brinjal/brinjalvarieties/padagoda.png"><ion-label style="color: #5cf304; font-size: 20px;">பாதாகொட(BW-11)</ion-label>
  <ion-icon name="chevron-forward-outline" style="color: #5cf304;" slot="end"></ion-icon> 
</ion-item>

<br>
<ion-item style="--background: rgb(19, 1, 1);" >
  <img  src="assets/crops/brinjal/brinjalvarieties/SM.png"><ion-label style="color: #5cf304; font-size: 20px;">SM-164</ion-label>
  <ion-icon name="chevron-forward-outline" style="color: #5cf304;" slot="end"></ion-icon> 
</ion-item>


</ion-content>



<ion-footer [translucent]="true">
  <ion-toolbar class="header-footer-background-color"
  >
    <div id="footer" style="font-size: 10px;" class="header-footer-component">
      <ion-button routerLink="/thome"  fill="clear">
        <ion-icon slot="icon-only" name="home" size="large" class="header-footer-component"></ion-icon>
      </ion-button>
      <br><b>முகப்பு பக்கம்</b>
    </div>
  </ion-toolbar>
</ion-footer>