<ion-header>
  <ion-toolbar  class="header-footer-background-color">

    <ion-buttons slot="start">
      <ion-back-button routerLink="/detect" class="header-footer-component"></ion-back-button>
    </ion-buttons>

    <ion-title class="header-footer-component">Answer to detect</ion-title>

    <ion-button (click)="presentPopover($event)" fill="clear" slot="end">
      <ion-icon slot="icon-only" name="ellipsis-vertical-outline" class="header-footer-component"></ion-icon>
    </ion-button>
    <ion-popover #popover [isOpen]="isOpen" (didDismiss)="isOpen = false" >
      <ng-template >
       <ion-content style="background-color: rgb(19, 1, 1);">

        <ion-list style="background-color: rgb(19, 1, 1);">
          <ion-radio-group value="english">
            <ion-item color="rgb(19, 1, 1)">
              <ion-label style="color: #ffffff;">English</ion-label>
              <ion-radio slot="end" value="english" (click)="isOpen = false" routerLink="/detect"></ion-radio>
            </ion-item>

            <ion-item color="rgb(19, 1, 1)">
              <ion-label style="color: #ffffff;">සිංහල</ion-label>
              <ion-radio slot="end" value="sinhala" (click)="isOpen = false" routerLink="/sdetect"></ion-radio>
            </ion-item>

            <ion-item color="rgb(19, 1, 1)">
              <ion-label style="color: #ffffff;">தமிழ்</ion-label>
              <ion-radio slot="end" value="tamil" (click)="isOpen = false" routerLink="/tdetect"></ion-radio>
            </ion-item>

          </ion-radio-group>
        </ion-list>

       </ion-content>
      </ng-template>
    </ion-popover>
  </ion-toolbar>
</ion-header>

<ion-content style="--background: rgb(19, 1, 1);">
  <br><br>

    <ion-item style="--background: rgb(19, 1, 1);">
      <ion-label style="color: #ffffff; font-size: 16px;">What is your crop? </ion-label>
      <ion-select [(ngModel)]="cropname" (ngModelChange)="variety();" placeholder="Click to select" style="color: #ffffff; --placeholder-color: #ffffff; --placeholder-opacity: 1;" okText="Choose My Crop">
        <div *ngFor="let crop of crops$|async">
        <ion-select-option value="{{ crop.crop_name }}">
          {{ crop.crop_name }}
        </ion-select-option>
      </div>
      </ion-select>
    </ion-item>
  <br><br>

    <ion-item style="--background: rgb(19, 1, 1);">
      <ion-label style="color: #ffffff; font-size: 16px;">What is your variety? </ion-label>
      <ion-text *ngIf="cropname == undefined"  (click)="alertcropselect()" style="color: #ffffff;">Click to select</ion-text>
      <ion-select *ngIf="cropname != undefined" [(ngModel)]="varietyname" placeholder="Click to select" style="color: #ffffff; --placeholder-color: #ffffff; --placeholder-opacity: 1;" okText="Choose My Variety">
        <ion-select-option value = "not identified">Not Identified</ion-select-option>
        <div *ngFor="let variety of varieties$|async">
        <ion-select-option value="{{ variety.variety_name }}">
          {{  variety.variety_name  }}
        </ion-select-option>
      </div>
      </ion-select>
    </ion-item>
    <br><br>

    <ion-item style="--background: rgb(19, 1, 1);">
      <ion-label style="color: #ffffff; font-size: 16px;">Pests or Diseases? </ion-label>
      <ion-text *ngIf="cropname == undefined"  (click)="alertcropselect()" style="color: #ffffff;">Click to select</ion-text>
      <ion-select *ngIf="cropname != undefined" [(ngModel)]="pestsordiseases" (ngModelChange)="symptom(); unselect(); catagory();" placeholder="Click to select" style="color: #ffffff; --placeholder-color: #ffffff; --placeholder-opacity: 1;" okText="Choose Option">
        <ion-select-option value = "not identified">Not Identified</ion-select-option>
        <ion-select-option value="pests">Pests</ion-select-option>
        <ion-select-option value="diseases">Diseases</ion-select-option>
      </ion-select>
    </ion-item>
    <br><br>

    <ion-item style="--background: rgb(19, 1, 1);">
      <ion-label style="color: #ffffff; font-size: 16px;">Where is/are change(s)?</ion-label>
      <ion-text *ngIf="pestsordiseases == undefined"  (click)="alertpestdiseaseselect()" style="color: #ffffff;">Click to select</ion-text>

      <ion-select *ngIf="pestsordiseases != undefined" [(ngModel)]="catagories" placeholder="Click to select" style="color: #ffffff; --placeholder-color: #ffffff; --placeholder-opacity: 1;" okText="Choose Options" multiple="true">
        <div *ngFor="let catagories of catagories$|async">
          <ion-select-option value="{{ catagories.catagory }}">
            {{  catagories.catagory  }}
          </ion-select-option><br>
        </div>
      </ion-select>
    </ion-item><br><br>

    <ion-item style="--background: rgb(19, 1, 1);">
      <ion-label style="color: #ffffff; font-size: 16px;">What is/are symptom(s)? </ion-label>
      <ion-text *ngIf="pestsordiseases == undefined"  (click)="alertpestdiseaseselect()" style="color: #ffffff;">Click to select</ion-text>

      <ion-select *ngIf="pestsordiseases == 'pests'" [(ngModel)]="symptomslist" placeholder="Click to select" style="color: #ffffff; --placeholder-color: #ffffff; --placeholder-opacity: 1;" okText="Choose Symptoms" multiple="true">
        <div *ngFor="let symptoms of pestsymptoms$|async">
          <ion-select-option value="{{ symptoms.symptom }}">
            {{  symptoms.symptom   }}
          </ion-select-option><br>
        </div>
      </ion-select>

      <ion-select *ngIf="pestsordiseases == 'diseases'" [(ngModel)]="symptomslist" placeholder="Click to select" style="color: #ffffff; --placeholder-color: #ffffff; --placeholder-opacity: 1;" okText="Choose Symptoms" multiple="true">
        <div *ngFor="let symptoms of diseasesymptoms$|async">
          <ion-select-option value="{{ symptoms.symptom }}">
            {{  symptoms.symptom   }}
          </ion-select-option><br>
        </div>
      </ion-select>

    </ion-item><br><br>

      <ion-button class="mainbuttons" size="medium" (click)="resetall();" style="margin-left: 5%;">Reset</ion-button>
      <ion-button class="mainbuttons" size="medium" style="margin-left: 5%;" (click)="test()">Detect</ion-button>
      <br><br>

</ion-content>

<ion-footer [translucent]="true">
  <ion-toolbar  class="header-footer-background-color">
    <div id="footer" class="header-footer-component">
      <ion-button routerLink="/home"  fill="clear">
        <ion-icon slot="icon-only" name="home" size="large" class="header-footer-component"></ion-icon>
      </ion-button>
      <br>Home
    </div>
  </ion-toolbar>
</ion-footer>
