ion-select::part(text){
  color: #5cf304;
}

ion-select::part(icon) {
   color: #5cf304;
}

input[type=reset]{
  background-color: #04f37b8a;
  color:#ffffff;
  height: 40px;
  border: none;
}

.mainbuttons{
  --background: #0cf3048a;
  --color:#ffffff;
}

.secondarybuttons{
  --color:#ffffff;
  --background: #04f37b8a;
  margin-left: 5%;
  margin-right: 5%;
}
