<ion-header>
  <ion-toolbar>

    <ion-button routerLink="/ssettings"  fill="clear" slot="start">
      <ion-icon slot="icon-only" name="menu"></ion-icon>
    </ion-button>

    <ion-title><b>පළිබෝධ සහ රෝග</b></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-text style="font-size:20px">හඳුනාගන්න</ion-text>
  
    <img src="/assets/detect1.jpg" slot="start" style="width:50px;height:50px;">
  
  <ion-button (click)="showAlert()" fill="clear">
            <ion-icon name="alert-circle-outline"></ion-icon>
          </ion-button>
  </ion-item>
  <br>
  
  <ion-item>
  
    <img src="/assets/prevent1.jpg" slot="start" style="width:50px;height:50px;">
    <ion-text style="font-size:20px">වළක්වන්න</ion-text>
        <ion-button (click)="presentAlert()" fill="clear" >
          <ion-icon name="alert-circle-outline"></ion-icon>
        </ion-button>
  </ion-item>
    

</ion-content>

<ion-footer [translucent]="true">
  <ion-toolbar>
    <div id="footer">
      <ion-button routerLink="/shome"  fill="clear">
        <ion-icon slot="icon-only" name="home" size="large"></ion-icon>
      </ion-button>
      <br><b>මුල් පිටුව</b>
    </div>
  </ion-toolbar>
</ion-footer>
