<ion-header>
  <ion-toolbar class="header-footer-background-color">

    <ion-button routerLink="/ssettings"  fill="clear" slot="start">
      <ion-icon slot="icon-only" name="menu" class="header-footer-component"></ion-icon>
    </ion-button>

    <ion-title class="header-footer-component"><b>පළිබෝධ සහ රෝග</b></ion-title>

    <ion-button (click)="presentPopover($event)" fill="clear" slot="end">
      <ion-icon slot="icon-only" name="ellipsis-vertical-outline" class="header-footer-component"></ion-icon>
    </ion-button>
    <ion-popover #popover [isOpen]="isOpen" (didDismiss)="isOpen = false" >
      <ng-template >
       <ion-content style="background-color: rgb(19, 1, 1);">

        <ion-list style="background-color: rgb(19, 1, 1);">
          <ion-radio-group value="sinhala">
            <ion-item color="rgb(19, 1, 1)">
              <ion-label color="light">English</ion-label>
              <ion-radio slot="end" value="english" (click)="isOpen = false" routerLink="/home"></ion-radio>
            </ion-item>
        
            <ion-item color="rgb(19, 1, 1)">
              <ion-label color="light">සිංහල</ion-label>
              <ion-radio slot="end" value="sinhala" (click)="isOpen = false" routerLink="/shome"></ion-radio>
            </ion-item>
        
          </ion-radio-group>
        </ion-list>
        
       </ion-content>
      </ng-template>
    </ion-popover>
  </ion-toolbar>
</ion-header>

<ion-content style="--background: rgb(19, 1, 1);">
  <ion-item>
    <ion-text style="font-size:20px">හඳුනාගන්න</ion-text>
  
    <img src="/assets/detect1.jpg" slot="start" style="width:50px;height:50px;">
  
  <ion-button (click)="showAlert()" fill="clear">
            <ion-icon name="alert-circle-outline"></ion-icon>
          </ion-button>
  </ion-item>
  <br>
  
  <ion-item>
  
    <img src="/assets/prevent1.jpg" slot="start" style="width:50px;height:50px;">
    <ion-text style="font-size:20px">වළක්වන්න</ion-text>
        <ion-button (click)="presentAlert()" fill="clear" >
          <ion-icon name="alert-circle-outline"></ion-icon>
        </ion-button>
  </ion-item>
    

</ion-content>

<ion-footer [translucent]="true">
  <ion-toolbar class="header-footer-background-color">
    <div id="footer" class="header-footer-component">
      <ion-button routerLink="/shome"  fill="clear">
        <ion-icon slot="icon-only" name="home" size="large" class="header-footer-component"></ion-icon>
      </ion-button>
      <br><b>මුල් පිටුව</b>
    </div>
  </ion-toolbar>
</ion-footer>
