<ion-header>
  <ion-toolbar>
    <ion-title>appsettings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

     <br><br>
     <ion-label >General</ion-label>
     <br>
     <br>
     <ion-toolbar>
      <ion-item>
      
      <ion-button expand="full" fill="clear">
        <ion-icon slot="start" name="settings"></ion-icon>
        <ion-label align="center">App Language</ion-label>
      </ion-button>
     
      <ion-list>
      <ion-item slot="end">
        <ion-select>
          <ion-select-option value="english">English</ion-select-option>
          <ion-select-option value="සිංහල">සිංහල</ion-select-option>
          <ion-select-option value="தமிழ்">தமிழ்</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>

  </ion-item>
    </ion-toolbar>

</ion-content>