<ion-header>
  <ion-toolbar class="header-footer-background-color">

    <ion-buttons slot="start">
      <ion-back-button routerLink="/settings" class="header-footer-component"></ion-back-button>
    </ion-buttons>

    <ion-title class="header-footer-component">{{ 'APPSETTINGS.header' | translate }}</ion-title>

    <ion-button (click)="presentPopover($event)" fill="clear" slot="end">
      <ion-icon slot="icon-only" name="ellipsis-vertical-outline" class="header-footer-component"></ion-icon>
    </ion-button>
    <ion-popover #popover [isOpen]="isOpen" (didDismiss)="isOpen = false" >
      <ng-template >
       <ion-content style="background-color: rgb(19, 1, 1);">

        <ion-list style="background-color: rgb(19, 1, 1);">
          <ion-radio-group value="en" [(ngModel)]='language' (ionChange)='languageChange()'>
            <ion-item color="rgb(19, 1, 1)">
              <ion-label style="color: #ffffff;">English</ion-label>
              <ion-radio slot="end" value="en" (click)="isOpen = false"></ion-radio>
            </ion-item>

            <ion-item color="rgb(19, 1, 1)">
              <ion-label style="color: #ffffff;">සිංහල</ion-label>
              <ion-radio slot="end" value="si" (click)="isOpen = false"></ion-radio>
            </ion-item>

            <ion-item color="rgb(19, 1, 1)">
              <ion-label style="color: #ffffff;">தமிழ்</ion-label>
              <ion-radio slot="end" value="ta" (click)="isOpen = false"></ion-radio>
            </ion-item>

          </ion-radio-group>
        </ion-list>

       </ion-content>
      </ng-template>
    </ion-popover>
  </ion-toolbar>
</ion-header>

<ion-content  style="--background: rgb(19, 1, 1);">
  <br><br>

  <strong style="color: #ffffff; font-size: 20px;">{{ 'APPSETTINGS.label' | translate }}</strong>
  <br>
  <br>

   <ion-item style="--background: rgb(19, 1, 1);" (click)="presentPopover2($event)">
      <ion-icon slot="start" name="settings" style="color: #f70707;" size="large"></ion-icon>
      <strong align="center" style="color: #5cf304; font-size: 18px;">{{ 'APPSETTINGS.option' | translate }}</strong>
      <strong slot="end" style="color: #ffffff; font-size: 16px;">{{ 'APPSETTINGS.lang-name' | translate }}</strong>
   </ion-item>

   <ion-popover #popover [isOpen]="isOpen2" (didDismiss)="isOpen2 = false" >
    <ng-template >
     <ion-content style="background-color: rgb(19, 1, 1);">

      <ion-list style="background-color: rgb(19, 1, 1);">
        <ion-radio-group value="en" [(ngModel)]='language' (ionChange)='languageChange()'>
          <ion-item color="rgb(19, 1, 1)">
            <ion-label color="light">English</ion-label>
            <ion-radio slot="end" value="en" (click)="isOpen2 = false"></ion-radio>
          </ion-item>

          <ion-item color="rgb(19, 1, 1)">
            <ion-label color="light">සිංහල</ion-label>
            <ion-radio slot="end" value="si" (click)="isOpen2 = false"></ion-radio>
          </ion-item>

          <ion-item color="rgb(19, 1, 1)">
            <ion-label color="light">தமிழ்</ion-label>
            <ion-radio slot="end" value="ta" (click)="isOpen = false"></ion-radio>
          </ion-item>

        </ion-radio-group>
      </ion-list>

     </ion-content>
    </ng-template>
  </ion-popover>
</ion-content>

<ion-footer [translucent]="true">
  <ion-toolbar class="header-footer-background-color">
    <div id="footer" class="header-footer-component">
      <ion-button routerLink="/home"  fill="clear">
        <ion-icon slot="icon-only" name="home" size="large" class="header-footer-component"></ion-icon>
      </ion-button>
      <br>{{ 'APPSETTINGS.footer' | translate }}
    </div>
  </ion-toolbar>
</ion-footer>
