<ion-header>
  <ion-toolbar class="header-footer-background-color">
    <ion-buttons slot="start" (click)="closeModal()">
      <ion-icon slot="icon-only" name="arrow-back-outline" class="header-footer-component"></ion-icon>
    </ion-buttons>

    <ion-title class="header-footer-component">{{ pest.pest_name }}</ion-title>


  </ion-toolbar>
</ion-header>

<ion-content  style="--background: rgb(19, 1, 1);">

  <h4 style="color: #ffffff; margin-left: 10px;">{{ pest.pest_name }}</h4>

  <div>
    <ion-card style="--background: rgb(19, 1, 1);">
      <ion-card-content style="color: #ffffff; font-size: 17px;">
        <ion-text>

          <b> Symptoms:</b>
         <ul>
          <div *ngFor="let symptom of symptoms$|async">
            <li *ngIf="pest.pest_name == symptom.pest_name">{{ symptom.symptom }}</li>
            <br *ngIf="pest.pest_name == symptom.pest_name">
          </div>
          </ul>
        </ion-text>

        <div *ngFor="let img of imgs$|async">
          <img *ngIf="pest.pest_name == img.pest_name" src="{{ img.img_path }}" class="img1">
        </div>
        <br><br>

        <ion-text>
          <b> Management </b>
          <div [innerHtml]="pest.management">
            {{ pest.management }}
          </div>
        </ion-text>
      </ion-card-content>
    </ion-card>
  </div>
  <br>


</ion-content>

<ion-footer [translucent]="true">
  <ion-toolbar class="header-footer-background-color">
    <div id="footer" class="header-footer-component">
      <ion-button routerLink="/home"  fill="clear" (click)="closeAllModals()">
        <ion-icon slot="icon-only" name="home" size="large" class="header-footer-component"></ion-icon>
      </ion-button>
      <br>Home
    </div>
  </ion-toolbar>
</ion-footer>
