<ion-header>
  <ion-toolbar>
    <ion-title>crops</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-segment value="default">
    <ion-segment-button value="default">
      <ion-label>Crops</ion-label>
    </ion-segment-button>
    <ion-segment-button value="segment">
      <ion-label>varieties</ion-label>
    </ion-segment-button>
  </ion-segment>
  <ion-item>
    <ion-button fill="clear" expand="full"><ion-img src="assets/bri.webp"></ion-img>Brinjal</ion-button>
  </ion-item>
  <ion-item>
    <ion-button fill="clear" expand="full"><ion-img  src="assets/banana.png"></ion-img>Banana</ion-button>
  </ion-item>
  <ion-item>
      <ion-button fill="clear" expand="full"><ion-img  src="assets/bitterground.png"></ion-img>Bitter Gound</ion-button>
  </ion-item>
  <ion-item>   
  <ion-button fill="clear" expand="full"><ion-img src="assets/carrot.png"></ion-img>Carrot</ion-button>
  </ion-item>
  <ion-item>
  <ion-button fill="clear" expand="full"><ion-img src="assets/cassava.png"></ion-img>Casava</ion-button>
  </ion-item>
</ion-content>
