<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button routerLink="/tdetect/tcrop-cropvar/tcrops/tbrinjal"></ion-back-button>
    </ion-buttons>

    <ion-title>நோய்கள்</ion-title>

    <ion-button (click)="presentPopover($event)" fill="clear" slot="end">
      <ion-icon slot="icon-only" name="ellipsis-vertical-outline"></ion-icon>
    </ion-button>
    <ion-popover #popover [isOpen]="isOpen" (didDismiss)="isOpen = false" >
      <ng-template >
       <ion-content style="background-color: rgb(19, 1, 1);">

        <ion-list style="background-color: rgb(19, 1, 1);">
          <ion-radio-group value="tamil">
            <ion-item color="rgb(19, 1, 1)">
              <ion-label color="light">English</ion-label>
              <ion-radio slot="end" value="english" (click)="isOpen = false" routerLink="/detect/crop-cropvar/crops/brinjal/pest-diseases/diseases"></ion-radio>
            </ion-item>
        
            <ion-item color="rgb(19, 1, 1)">
              <ion-label color="light">සිංහල</ion-label>
              <ion-radio slot="end" value="sinhala" (click)="isOpen = false" routerLink="/sdetect/scrop-cropvar/scrops/sbrinjal/spest-diseases/sdiseases"></ion-radio>
            </ion-item>

            <ion-item color="rgb(19, 1, 1)">
              <ion-label color="light">தமிழ்</ion-label>
              <ion-radio slot="end" value="tamil" (click)="isOpen = false" routerLink="/tdetect/tcrop-cropvar/tcrops/tbrinjal/tpest-diseases/tdiseases"></ion-radio>
            </ion-item>
        
          </ion-radio-group>
        </ion-list>
        
       </ion-content>
      </ng-template>
    </ion-popover>
  </ion-toolbar>
</ion-header>



<ion-content style="--background: rgb(19, 1, 1);">
  <br>
  <h5 style="color: #ffffff; font-size: 20px;"><b>பங்கசு நோய்கள்</b></h5><br>
  
  <ion-item style="--background: rgb(19, 1, 1);">
    <ion-button expand="full" (click)="slidedown1()" fill="clear">
      <h6 style="color: #5cf304; font-size: 16px;">1) நாற்றழுகல்</h6>
      <ion-icon style="color: #5cf304;" name="{{updownicon1}}" slot="end"></ion-icon>
    </ion-button>
  </ion-item>
  
  <div [hidden]=ishidden1>
    <ion-card style="--background: rgb(19, 1, 1);">
      <ion-card-content style="color: #ffffff; font-size: 17px;">
        <ion-text>
          <b>நோயாக்கி:</b> Pythium spp.,  Phytophthora spp., Fusarium spp.,  Rhizoctonia spp. மற்றும் Sclerotium rolfsii<br> <br>
          
          <b> அறிகுறிகள்:</b>
  ,       <ul> 
          <li>நாற்றின் தண்டின் அடிப்பகுதியில் சடுதியாக சரிதல்</li>
          <li>வேரழுகல் மற்றும் நாற்று இறப்பு</li>
          <li>அடிப்பகுதியில் Rhizoctonia spp இனால் கபிலம் சார்ந்த கருப்பு நிறமாற்றம் </li>
          
          </ul>
        </ion-text>
  
        <ion-item style="--background: rgb(19, 1, 1);">
          <img src="assets/crops/brinjal/read/damping-off-1.png" class="img">
          <img src="assets/crops/brinjal/read/damping-off-2.jpg" class="img" style="margin-left: 10%">
        </ion-item><br>
  
        <ion-text>
          <b> முகாமைத்துவம் </b>
  ,       <ul> 
          <li>நல்ல நீர்வடிப்புள்ள ஆரோக்கியமான மண்ணில் பாத்தியமைத்தல்</li>
          <li>நாற்றுமேடை தொற்றுநீக்கம் -எரித்தல், சூரியவெப்பப்படுத்தல் அல்லது இரசாயன பாவனை</li>
          <li>பாதிக்கப்பட்ட தாவரத்தை சூழவுள்ள மண்ணுடன் அகற்றல்</li>
          <li>விதை சிகிச்சை (நடுவதற்கு முன்னர் செய்ய வேண்டும்)
            -திராம் 80% WP  – 5g/ kg -தியோபனேற் மெதைல் 50% WP + திராம் 30% WP – 4g / kg -கெப்டன் 50% WP- 6g / kg</li>
          <li>மண் சிகிச்சை- தாவரத்தை சூழ காண் அமைத்து பரிந்துரைக்கப்பட்ட பங்கசு நாசினியை குறித்த பயிருக்கு வழங்கலாம்.
            -தியோபனேற் – மெதைல் 50% WP + திராம் 30% WP – 50g / 50 லீ/ 10m2 -திராம் – 80% WP – 70g / 50 லீ/ 10m2 -கெப்டன் 30% WP – 60g / 50 லீ/ 10m2</li>
          </ul>
        </ion-text>
      </ion-card-content>
    </ion-card>
  </div>
  



  <br>
  <ion-item style="--background: rgb(19, 1, 1);">
    <ion-button expand="full" (click)="slidedown2()" fill="clear">
      <h6 style="color: #5cf304; font-size: 16px;">2) கழுத்தழுகல்</h6>
      <ion-icon style="color: #5cf304;" name="{{updownicon2}}" slot="end"></ion-icon>
    </ion-button>
  </ion-item>
  
  <div [hidden]=ishidden2>
    <ion-card style="--background: rgb(19, 1, 1);">
      <ion-card-content style="color: #ffffff; font-size: 17px;">
        <ion-text>
          <b>நோயாக்கி:</b> Sclerotium rolfsii  <br> <br>
          
          <b> அறிகுறிகள்:</b>
  ,       <ul>
          <li>இலைகள் மஞ்சளாதல்</li>
          <li>கழுத்து பகுதியில் சிதைவு ஏற்படல்</li>
          <li>கழுத்து பகுதியில் Mycelia mat உடன் வெள்ளை / கபில Sclerotia</li> 
          </ul>
        </ion-text>
  
        <ion-item style="--background: rgb(19, 1, 1);">
          <img src="assets/crops/brinjal/read/collar-rot-1.png" class="img">
        </ion-item> <br>
  
        <ion-text>
          <b> முகாமைத்துவம் </b>
  ,       <ul> 
          <li>பாதிக்கப்பட்ட தாவரத்தை சூழவுள்ள மண்ணுடன் அழித்தல்</li>
          <li>வடிகாலைமேம்படுத்தல்</li>
          <li>மண்ணை அழமாக உழுது பாதிக்கப்பட்ட மண்ணை நல்ல சூரிய வெளிச்சத்துக்கு உட்படுத்தல்</li>
          <li>நாற்று நடுகையின் போதான வேர் பாதிப்பை தவிர்த்தல் </li>
          <li>மண் சிகிச்சை – தாவரத்தின் அடிப்பகுதியை சூழ காண் அமைத்து பரிந்துரைக்கப்பட்ட பங்கசு நாசினியை தனித்தாவரத்திற்கு இடல்
            -தியோபனேற் – மெதைல் – 50% WP + திராம் 30% WP – 50g /50 லீ / 10m2 -திராம் 80% WP – 70g / 50 லீ / 10m2 -கெப்டன் 50% WP – 60g / 50 லீ/ 10m2 </li>
        </ul>
        </ion-text>
      </ion-card-content>
    </ion-card>
  </div>



  br>
  <ion-item style="--background: rgb(19, 1, 1);">
    <ion-button expand="full" (click)="slidedown3()" fill="clear">
      <h6 style="color: #5cf304; font-size: 16px;">3) பியூசாரியம் வாடல் </h6>
      <ion-icon style="color: #5cf304;" name="{{updownicon3}}" slot="end"></ion-icon>
    </ion-button>
  </ion-item>
  
  <div [hidden]=ishidden3>
    <ion-card style="--background: rgb(19, 1, 1);">
      <ion-card-content style="color: #ffffff; font-size: 17px;">
        <ion-text>
          <b>நோயாக்கி:</b> Fusarium oxysporum f.sp lycopersici <br> <br>
          
          <b> அறிகுறிகள்:</b>
  ,       <ul> 
          <li>இலைகள் மஞ்சளாகி வாடல் </li>
          <li> தண்டு குழாய் நிறமாற்றம்</li>
          <li> வேர்கள் அழுகி தாவரம் இறத்தல்</li>
          </ul> <br> <br>
  
          <b> முகாமைத்துவம் </b>
  ,       <ul> 
          <li>பாதிக்கப்பட்ட தாவரத்தை சூழவுள்ள மண்ணுடன் அழித்தல்</li>
          <li>வடிகாலை மேம்படுத்தல்</li>
          <li>நிலத்தை ஆழமாக உழுதல் மற்றும் பாதிக்கப்பட்ட மண்ணை நல்ல சூரிய ஒளிக்கு உட்படுத்தல்</li>
          <li>நாற்று நடுகையின் போது வேர் பாதிப்பை தடுத்தல் </li>
          <li>மண் சிகிச்சை தாவரத்தின் அடிப்பகுதியை சூழ காண் அமைத்து பரிந்துரைக்கப்பட்ட பங்கசு நாசினியை தனித்தாவரத்திற்கு இடல்
            -தியோபனேற் – மெதைல் 50% WP + திராம் 30% WP – 50g / 50 லீ / 10m2-திராம் 80% WP – 70g / 50 லீ / 10m2 -கெப்டான் 50% WP – 60g / 50 லீ / 10m2 </li>
        </ul>
  
        </ion-text>
      </ion-card-content>
    </ion-card>
  </div>


  <br>
  <ion-item style="--background: rgb(19, 1, 1);">
    <ion-button expand="full" (click)="slidedown4()" fill="clear">
      <h6 style="color: #5cf304; font-size: 16px;">4) தூள் பூஞ்சண நோய்</h6>
      <ion-icon style="color: #5cf304;" name="{{updownicon4}}" slot="end"></ion-icon>
    </ion-button>
  </ion-item>
  
  <div [hidden]=ishidden4>
    <ion-card style="--background: rgb(19, 1, 1);">
      <ion-card-content style="color: #ffffff; font-size: 17px;">
  
        <ion-text>
          <b>நோயாக்கி:</b> Podosphaera xanthii 
        </ion-text><br><br>
  
        <ion-item style="--background: rgb(19, 1, 1);">
            <img src="assets/crops/brinjal/read/powdery-mildew.jpg" class="img">
        </ion-item><br>
          
         
        <ion-text>
        <b> அறிகுறிகள்:</b>
  ,       <ul> 
          <li>இலைகளின் கீழ் புறத்தில் வட்டவடிவ மஞ்சள் ஒட்டு அல்லது புள்ளி தோன்றல்</li>
          <li>இலை மேற்பரப்பில் வெள்ளை தூள் மிகுதி காணப்படல் </li>
          </ul><br><br>
        
        <b> முகாமைத்துவம் </b>
  ,       <ul> 
          <li>நோய் விருத்தியடையும் ஆரம்ப நிலையில் பரிந்துரைக்கப்பட்ட பங்கசு நாசினி பாவணை (குறிப்பு DOA பீடைநாசினி பரிந்துரை, 2019</li>
          <ul>
            <li>10 l நீருக்கு 50g சல்பர் 80% WP சேர்த்தல்</li>
            <li>குளோரோதலொனில் 500g /l SC – 30 ml / 10 லீ நீருக்கு</li>
            <li>கார்பென்டசிம் 50% WP – 7g / 10 லீ  நீருக்கு</li>
          </ul>
        </ul>
  
        </ion-text>
      </ion-card-content>
    </ion-card>
  </div>
  



  <br>
  <ion-item style="--background: rgb(19, 1, 1);">
    <ion-button expand="full" (click)="slidedown5()" fill="clear">
      <h6 style="color: #5cf304; font-size: 16px;"> 5)  அந்தரக்னோஸ் </h6>
      <ion-icon style="color: #5cf304;" name="{{updownicon5}}" slot="end"></ion-icon>
    </ion-button>
  </ion-item>
  
  <div [hidden]=ishidden5>
    <ion-card style="--background: rgb(19, 1, 1);">
      <ion-card-content style="color: #ffffff; font-size: 17px;">
  
        <ion-text>
          <b>நோயாக்கி:</b> Colletotrichum gloeosporioides<br><br>
          <b> அறிகுறிகள்:</b>
          <ul> 
          <li>நடுவில் பழுப்பு முதல் செம்மஞ்சள் கபிலம் செறிவான வளையங்களுடனான குழிவான வட்ட காயங்கள்</li>
          <li>காயங்களில் வெளியேற்றத்துடன் இளஞ்சிவப்பு கொனிடியா உறுப்பினருடனான பெருக்க உறுப்புகள் </li>
          </ul>
        </ion-text><br><br>
  
        <ion-item style="--background: rgb(19, 1, 1);">
            <img src="assets/crops/brinjal/read/anthracnose1.png" class="img">
            <img src="assets/crops/brinjal/read/anthracnose2.png.jpg" class="img" style="margin-left: 10%">
        </ion-item><br>
          
        <ion-text>
        <b> முகாமைத்துவம்</b>
  ,       <ul> 
          <li>ஆரோக்கியமான வித்து பாவணை</li>
          <li>அதிகபடியான நீர்பாசனத்தை தவிர்த்தல்</li>
          <li>பாதிக்கப்பட்ட பழங்களை அகற்றி அழித்தல் </li>
          <li>வித்து சிகிச்சை (நடுகை செய்ய முன் வழங்க வேண்டும்)
            –திராம் 80% WP  – 5g/ kg -தியோபனெற் -மெதைல் 50% WP + திராம் 30% WP – 4g / kg -கெப்டான் 50% WP  – 6g/ kg. </li>
          <li>மழை காலங்களில் பூக்கும் ஆரம்ப நிலையில் பங்கசு நாசினி தெளித்தல்
            -புளுசினம் 500g / 1SC – 10ml / 10 லீ நீருக்கு -மெத்திராம் 55% + பைரோகுளோஸ்ரொபின் 5% WP – 20g / 10 லீ நீருக்கு -காபென்டசியம் 50% WG – 7g / 10 லீ நீருக்கு -தியோபனேற் -மெதைல் 70% WP – 6g / 10 லீ நீருக்கு – குளோரோதலோனில் 500 SC – 30ml / 10 லீ நீருக்கு</li>
         </ul>
  
        </ion-text>


      </ion-card-content>
    </ion-card>
  </div>
  


 <br>
  <ion-item style="--background: rgb(19, 1, 1);">
    <ion-button expand="full" (click)="slidedown6()" fill="clear">
      <h6 style="color: #5cf304; font-size: 16px;"> 6) பொமொப்சிஸ் வெளிரன் </h6>
      <ion-icon style="color: #5cf304;" name="{{updownicon6}}" slot="end"></ion-icon>
    </ion-button>
  </ion-item>
  
  <div [hidden]=ishidden6>
    <ion-card style="--background: rgb(19, 1, 1);">
      <ion-card-content style="color: #ffffff; font-size: 17px;">
  
        <ion-text>
          <b>நோய் காரணி :</b> Phomopsis vexans <br><br>

        <b> அறிகுறிகள்</b>
  ,       <ul> 
          <li>தண்டு மற்றும் இலைக்காம்புகளில் கருப்பு விளிம்புடைய சாம்பல் புள்ளி கொண்ட சிறிய புற்றுகள் காணப்படும்</li>
          <li>Pycnidia விருத்தியால் புள்ளியின் மையம் சாம்பல் மற்றும் கருப்பு நிறமாதல் </li>
          <li>மென்மையான மற்றும் நீர்பாங்கான பழ புள்ளிகள் கருப்பாக மற்றும் உள்ளீடு அற்றவையாதல்</li>
          </ul><br><br>
        </ion-text>
  
        <ion-item style="--background: rgb(19, 1, 1);">
            <img src="assets/crops/brinjal/read/Phomopsis-blight.png" class="img">
        </ion-item><br>
          
         
        <ion-text>
        <b> முகாமைத்தவும்</b>
  ,       <ul> 
          <li>பாதிப்புற்ற பழங்களை அகற்றி அழித்தல்</li>
          <li>நோய் விருத்தியுரும் ஆரம்ப நிலையில் பரிந்துரைக்கப்பட்ட பங்கசு நாசினியை பிரயோகித்தல் (குறிப்பு – DOA பீடைநாசினி பரிந்துரைட 2019)
            -குளோரோதலொனில் 500g /50 லீ 5C – 30ml / 10 லீ நீருக்கு -கார்பென்டசியம் 50% WP – 7g / 10 லீ நீருக்கு -தியோபனேற் -மெதைல் 70% WP 6g / 10 லீ நீருக்கு</li>
          </ul>
        </ion-text>


      </ion-card-content>
    </ion-card>
  </div>


 

  <br><h5 style="color: #ffffff; font-size: 20px;"><b>பற்றீரயா நோய்கள்</b></h5><br>

  <ion-item style="--background: rgb(19, 1, 1);">
    <ion-button expand="full" (click)="slidedown7()" fill="clear">
      <h6 style="color: #5cf304; font-size: 16px;"> 7) பற்றீரியா வாடல் </h6>
      <ion-icon style="color: #5cf304;" name="{{updownicon7}}" slot="end"></ion-icon>
    </ion-button>
  </ion-item>
  
  <div [hidden]=ishidden7>
    <ion-card style="--background: rgb(19, 1, 1);">
      <ion-card-content style="color: #ffffff; font-size: 17px;">
  
        <ion-text>
          <b>நோய் காரணி : </b> Ralstonia solanacearum<br><br> 
          <b> அறிகுறிகள்:</b>
  ,       <ul> 
          <li>தனி கிளை / கிளைகளில் சிறியளவு வாடல்</li>
          <li>சடுதியான மற்றும் நிரந்தர தாவர வாடல்</li>
          <li>இழைய நரம்பு நிறமாற்றம்</li>
          <li>பாதிக்கப்பட்ட தாவர பகுதியை வெட்டி நீரில் இடும் போது மெல்லிய பிசுபிசுப்பான பற்றீரிய திரவம் வெளியேரும்</li>
          </ul>
        </ion-text><br><br>
  
        <ion-item style="--background: rgb(19, 1, 1);">
            <img src="assets/crops/brinjal/read/bacterial-wilt1.png" class="img">
            <img src="assets/crops/brinjal/read/bacterial-wilt2.png" class="img" style="margin-left: 10%">
        </ion-item><br>
          
         
        <ion-text>
        <b> முகாமைத்துவம் </b>
  ,       <ul> 
          <li>பாதிக்கப்பட்ட தாவரத்தை மண்ணுடன் அகற்றி அழித்தல் </li>
          <li>அறுவடையின் பின் பயிர் மிகுதிகளை அழித்தல்</li>
          <li>நோயிற்கு உள்ளாக கூடிய பயிர்களை பயன்படுத்தி (குருசுபெரஸ் மரக்கறி மற்றும் வெண்டி) பயிர் சுழற்சி முறை செய்வதால் நோய் பரவலை குறைக்க முடியும்</li>
          <li>பரிந்துரைக்கப்பட்ட வர்க்கங்களின் பாவனை</li>
          <li>பயன்படுத்திய பின் அனைத்து பண்ணை உபகரணங்களையும் சுத்தம் செய்து தொற்று நீக்கம் செய்ய வேண்டும்.</li>
          <li>இரசாயன கட்டுப்பாட்டு முறை இல்லை</li>
          </ul>
        </ion-text>


      </ion-card-content>
    </ion-card>
  </div>
  


  <br><h5 style="color: #ffffff; font-size: 20px;"><b>டைடோபிளாஸ்மா நோய்</b></h5><br>

  <ion-item style="--background: rgb(19, 1, 1);">
    <ion-button expand="full" (click)="slidedown8()" fill="clear">
      <h6 style="color: #5cf304; font-size: 16px;"> 8) சிறிய இலை நோய் (சூனியகாரியின் துடைப்பம்)</h6>
      <ion-icon style="color: #5cf304;" name="{{updownicon8}}" slot="end"></ion-icon>
    </ion-button>
  </ion-item>
  

  <div [hidden]=ishidden8>
    <ion-card style="--background: rgb(19, 1, 1);">
      <ion-card-content style="color: #ffffff; font-size: 17px;">
  
        <ion-text>
          <b>நோய் காரணி :</b> Phytoplasma இலை தத்து பூச்சி மூலம் பரவுகிறது (Hishimonus phycitiy)<br><br> 
          <b> அறிகுறிகள்</b>
  ,       <ul> 
          <li>இலைகள் குறுகி, மென்மையாகி, வழுவழுப்பாகி மற்றும் மஞ்சளாகும்</li>
          <li>தண்டின் கனுவிடைகள் குறுகும் </li>
          <li>துணை மொட்டுகள் பெரிதாகும் ஆனால் அவற்றின் இலைக் காம்பு மற்றும் இலைகள் குறுகும் மற்றும் தாவரம் கொத்து போன்று தோன்றும்</li>
          <li>பூக்கள் பச்சை நிறமாகும் / பூக்காது</li>
          <li>அரிதாக காய் உருவாகும்</li>
          </ul>
        </ion-text><br><br>
  
        <ion-item style="--background: rgb(19, 1, 1);">
            <img src="assets/crops/brinjal/read/Little-leaf-disease.png" class="img">
        </ion-item><br>

        <ion-text>
          <b> முகாமைத்துவம்</b>
    ,       <ul> 
            <li>பாதிக்கப்பட்ட தாவரத்தை அகற்றி எரித்தல்</li>
            <li>பரிந்துரைக்கப்பட்ட பூச்சிநாசினி பாவணை மூலம் இலை தத்தியை கட்டுப்படுத்துவதால் நோய் பரவலை குறைக்கலாம்.</li>
            </ul>
        </ion-text>
  
      </ion-card-content>
    </ion-card>
  </div>


</ion-content>

<ion-footer [translucent]="true">
  <ion-toolbar>
    <div id="footer" style="font-size: 10px;">
      <ion-button routerLink="/thome"  fill="clear">
        <ion-icon slot="icon-only" name="home" size="large"></ion-icon>
      </ion-button>
      <br><b>முகப்பு பக்கம்</b>
    </div>
  </ion-toolbar>
</ion-footer>