<ion-header>
  <ion-toolbar class="header-footer-background-color" >
    <ion-buttons slot="start">
      <ion-back-button routerLink="/tdetect/tcrop-cropvar/tcrops/tbrinjal" class="header-footer-component"></ion-back-button>
    </ion-buttons>

    <ion-title class="header-footer-component">பூச்சிகள்</ion-title>

    <ion-button (click)="presentPopover($event)" fill="clear" slot="end">
      <ion-icon slot="icon-only" name="ellipsis-vertical-outline" class="header-footer-component"></ion-icon>
    </ion-button>
    <ion-popover #popover [isOpen]="isOpen" (didDismiss)="isOpen = false" >
      <ng-template >
       <ion-content style="background-color: rgb(19, 1, 1);">

        <ion-list style="background-color: rgb(19, 1, 1);">
          <ion-radio-group value="tamil">
            <ion-item color="rgb(19, 1, 1)">
              <ion-label color="light">English</ion-label>
              <ion-radio slot="end" value="english" (click)="isOpen = false" routerLink="/detect/crop-cropvar/crops/brinjal/pest"></ion-radio>
            </ion-item>
        
            <ion-item color="rgb(19, 1, 1)">
              <ion-label color="light">සිංහල</ion-label>
              <ion-radio slot="end" value="sinhala" (click)="isOpen = false" routerLink="/sdetect/scrop-cropvar/scrops/sbrinjal/spest"></ion-radio>
            </ion-item>

            <ion-item color="rgb(19, 1, 1)">
              <ion-label color="light">தமிழ்</ion-label>
              <ion-radio slot="end" value="tamil" (click)="isOpen = false" routerLink="/tdetect/tcrop-cropvar/tcrops/tbrinjal/tpest"></ion-radio>
            </ion-item>
        
          </ion-radio-group>
        </ion-list>
        
       </ion-content>
      </ng-template>
    </ion-popover>
  </ion-toolbar>
</ion-header>

<ion-content  style="--background: rgb(19, 1, 1);">
  <br>
  <h5 style="font-size:24px; text-align:center;color: #ffffff"><b>பூச்சி வகைகள்</b></h5><br>
  
  <ion-item style="--background: rgb(19, 1, 1);">
    <ion-button expand="full" (click)="slidedown1()" fill="clear">
      <h6 style="color: #5cf304">1) துளைப்பான் மற்றும் பழம் துளைப்பான்</h6>
      <ion-icon name="{{updownicon1}}" slot="end" style="color: #5cf304"></ion-icon>
    </ion-button>
  </ion-item>
  
  
  <div [hidden]=ishidden1>
    <ion-card style="--background: rgb(19, 1, 1);">
      <ion-card-content style="color: #ffffff; font-size: 17px;">
        <ion-text>
           <br> <br>
          
          <b> அறிகுறிகள்</b>
         <ul> 
          <li>பழத்தில் உள்ள தண்டுகள் மற்றும் கருந்துளைகள் மூலம் சேதத்தை கண்டறியலாம்.</li>
          <br>
          <li> துளைகள் வெளியேற்றும் பொருட்களால் நிரப்பப்படுகின்றன.</li>
          <br>
          <li>சேதமடைந்த காய்கள் மற்றும் பழங்களை வெட்டும்போது நுண்புழுக்கள்  காணலாம்.</li>
          <br>
          <li>நுண்புழுக்கள் பாதிப்பு காரணமாக தாவர வளர்ச்சி தடைபடுகிறது</li>
          </ul>
        </ion-text>
  
        <ion-item>
          <img src="assets/crops/brinjal/detect/pest/Stem-and-Fruit-borer-in-Brinjal.jfif" class="img1">
          <img src="assets/crops/brinjal/detect/pest/Brinjal-Shoot-Borer-and-Fruit-Borer.jfif" class="img1" style="margin-left: 0">
        </ion-item><br>
  
        <ion-text>
          <b> முகாமைத்துவம் </b>
         <ul> 
          <li>கத்தரி வயலைச் சுற்றி 2 மீ உயரத்திற்கு உயிருள்ள அல்லது உயிரற்ற தடையை பயன்படுத்துதல்.</li>
          <br>
          <li>பயிரிடப்பட்ட செடிகளில் இந்த சேதம் முதன்முதலில் காணப்பட்டபோது பாதிக்கப்பட்ட பகுதியின் அடியில் வெட்டி செடியிலிருந்து அகற்றி அழிக்கவும்.</li>
         <br>
          <li>வாரத்திற்கு ஒருமுறை பயிர் சரிபார்க்கவும்.</li>
          <br>
          <li> 50% பூக்கும் நேரத்தில் பொருத்தமான பூச்சிக்கொல்லியை தெளிப்பதன் மூலம் இந்த சேதத்தை கட்டுப்படுத்தலாம்.</li>
          <br>
          <li>அறுவடையின் போது சேதமடைந்த பழங்களின் எண்ணிக்கையைப் புரிந்துகொண்டு சேதமடைந்த பழங்களின் எண்ணிக்கை 5% க்கு மேல் இருந்தால் மட்டுமே பரிந்துரைக்கப்பட்ட பூச்சிக்கொல்லியைப் பயன்படுத்தவும்.</li>
          <br>
          <li>அறுவடைக்கு முந்தைய நேரத்தைக் கவனியுங்கள் மற்றும் அதே பூச்சிக்கொல்லியைத் தொடர்ந்து பயன்படுத்துவதைத் தவிர்க்கவும்.</li>
          <br>
          <li>அறுவடையின் போது பூச்சிக்கொல்லிகளைப் பயன்படுத்தும்போது அறுவடைக்கு முந்தைய நேரத்தை அறிந்து கொள்ளுங்கள்.</li>
          <br>
          <li>இரசாயன அடக்குமுறை
            <ul>பரிந்துரைக்கப்பட்ட வேளாண் இரசாயனங்களை பரிந்துரைக்கப்பட்டபடி பயன்படுத்தவும்</ul>
            </li>
        </ul>
        </ion-text>
      </ion-card-content>
    </ion-card>
  </div>

  <br>
<ion-item style="--background: rgb(19, 1, 1);">
<ion-button expand="full" (click)="slidedown2()" fill="clear">
  <h6 style="color: #5cf304">2) இலை சுருங்கும் கம்பளிப்பூச்சி
    </h6>
  <ion-icon name="{{updownicon2}}" slot="end" style="color: #5cf304"></ion-icon>
</ion-button>
</ion-item>

<div [hidden]=ishidden2>
<ion-card  style="--background: rgb(19, 1, 1);">
  
  <ion-card-content style="color: #ffffff; font-size: 17px;">
    <ion-text>
      <b>Psara bipunctalis (Order-Lepidoptera, Family-Pyralidae)</b>  <br> <br>
      
      <b> அறிகுறிகள்</b>
     <ul> 
      <li> தாவரத்தின் ஒரு சில இலைகள் கொத்துக் கொத்தாக, அவற்றில் நுண்புழுக்கள் ஊட்டப்படுகின்றன. </li>
      <br>
      <li> இலையின் நரம்புகளைத் தவிர மீதமுள்ள பகுதிகள் இங்கே உண்ணப்படுகின்றன.</li>
      <br>
      <li> நுனி இலைகள் அழிந்ததால் செடியின் வளர்ச்சி தடைபடுகிறது.</li>
      </ul> <br> <br>
    </ion-text>

      <ion-item>
        <img src="assets/crops/brinjal/detect/pest/Eggplant-caterpillar-Leaf-rolling-catepillar.jfif" class="img2">
      </ion-item><br>

      <ion-text>
      <b>  முகாமைத்துவம்</b>
    <ul> 
      <li>இறுக்கமாக நிரம்பிய இலைகளை உடைத்து அழிக்கவும்.</li>
      <br>
      <li>பரிந்துரைக்கப்பட்ட வேளாண் இரசாயனங்களை பரிந்துரைக்கப்பட்டபடி பயன்படுத்தவும்</li>
      <br>
      <li>பரிந்துரைக்கப்பட்ட பூச்சிக்கொல்லியைப் பயன்படுத்தி குறைந்தது 7-10 நாட்களுக்குப் பிறகு மட்டுமே அறுவடை செய்யுங்கள்.</li>
    </ul>

    </ion-text>
  </ion-card-content>
</ion-card>
</div>

<br>
<ion-item style="--background: rgb(19, 1, 1);">
<ion-button expand="full" (click)="slidedown3()" fill="clear">
  <h6 style="color: #5cf304"> 3) இலை அசுவினி
    </h6>
  <ion-icon name="{{updownicon3}}" slot="end" style="color: #5cf304"></ion-icon>
</ion-button>
</ion-item>

<div [hidden]=ishidden3>
<ion-card style="--background: rgb(19, 1, 1);">
  <ion-card-content style="color: #ffffff; font-size: 17px;">
    <ion-text>
      <b>(Amrasca Spp.) (Order-Homoptera, Family-Cicadellidae)</b>  <br> <br>
      
      <b> அறிகுறிகள்</b>
    <ul> 
      <li>வளர்ந்து வரும் முதிர்ந்த மற்றும் நுண்புழுக்கள் தாவரத்திற்கு சேதத்தை ஏற்படுத்துகிறது</li>
      <br>
      <li>இலையின் அடிப்பகுதியில் இருந்து சாறு உறிஞ்சுவதால், இலை சுருங்கி, சுருண்டு, இலை விளிம்பிலிருந்து மை டில் வரை மஞ்சள் நிறமாகிறது.</li>
      <br>
      <li> அதனால், செடியின் வளர்ச்சி பலவீனமாக உள்ளது.</li>
      <br>
      <li>இது கத்தரி பயிரை பாதிக்கும் பைட்டோபிளாஸ்மாவின் (சிறிய இலை கருகல் நோய்) திசையன்களாகவும் செயல்படுகிறது.</li>
      </ul> <br> <br>
    </ion-text>

    <ion-item>
      <img src="assets/crops/brinjal/detect/pest/Tiny-Leafhopper-insect(Cicadellidae,Homoptera)on-a-leaf-in-the-garden.jpg" class="img1">
    </ion-item><br>

    <ion-text>

      <b> முகாமைத்துவம்</b>
     <ul> 
      <li>நல்ல பயிர் பராமரிப்பு மற்றும் பரவலான சேதம் ஏற்பட்டால், பரிந்துரைக்கப்பட்ட பூச்சிக்கொல்லி மூலம் கட்டுப்படுத்தவும்.</li>
      <br>
      <li>பரிந்துரைக்கப்பட்ட வேளாண் இரசாயனங்களை பரிந்துரைக்கப்பட்டபடி பயன்படுத்தவும்.</li>
    </ul>

    </ion-text>
  </ion-card-content>
</ion-card>
</div>

<br>

<ion-item style="--background: rgb(19, 1, 1);">
  <ion-button expand="full" (click)="slidedown4()" fill="clear">
    <h6 style="color: #5cf304">4) பூச்சி சேதம் </h6>
    <ion-icon name="{{updownicon4}}" slot="end" style="color: #5cf304"></ion-icon>
  </ion-button>
</ion-item>

<div [hidden]=ishidden4>
  <ion-card style="--background: rgb(19, 1, 1);">
    <ion-card-content style="color: #ffffff; font-size: 17px;">
      <ion-text>
        <br><br>
        
        <b> அறிகுறிகள் </b>
      <ul> 
        <li> பூச்சிகள் இலைகள் மற்றும் பழங்களிலிருந்து சாற்றை உறிஞ்சும். பழத்திலிருந்து சாறு உறிஞ்சும் போது, பழத்தின் வெளிப்புற தோல் கரடுமுரடானதாகவும் பழுப்பு நிறமாகவும் மாறும்.</li>
        <br>
        <li>பழங்கள் சிதைந்துள்ளன.</li>
        <br>
        <li>இலைகளை சேதப்படுத்தும் போது, பூச்சிகள் அடிப்பகுதியில் அதிகமாக காணப்படும், மேலும் இலைகள் உருளுதல், பழுப்பு நிறமாகி, காய்ந்து வாடிவிடும்.</li>
        <br>
        <li>சிலந்திப் பூச்சிகளால் ஏற்படும் இலை சேதத்தின் ஆரம்ப கட்டத்தில், இலைகளின் மேற்பரப்பு இடங்களில் மஞ்சள் நிறமாக மாறும்.</li>
        </ul>
      </ion-text>

      <ion-item>
        <img src="assets/crops/brinjal/detect/pest/Spidaer-mites-injury-to-eggplant.jpg" class="img1">
        <img src="assets/crops/brinjal/detect/pest/red-spider-mites.jpg" class="img1" style="margin-left:0">
      </ion-item><br>

      <ion-text>
        <b> முகாமைத்துவம் </b>
     <ul> 
        <li>நல்ல பயிர் பராமரிப்பு மற்றும் போதுமான நீர்ப்பாசனம் (குறிப்பாக வறண்ட காலநிலையில்); தண்ணீர் பற்றாக்குறை பயிர்கள் சேதமடையும் வாய்ப்பு அதிகம்.</li>
        <br>
        <li>தெளிப்பு நீர் பாசனம் பயிர்களில் பூச்சிகளின் எண்ணிக்கையை குறைக்கலாம்.</li>
        <br>
        <li>சேதம் பரவினால், பரிந்துரைக்கப்பட்ட பூச்சிக்கொல்லியைக் கொண்டு கட்டுப்படுத்தவும்.</li>
      </ul>
      </ion-text>
    </ion-card-content>
  </ion-card>
</div>

</ion-content>

<ion-footer [translucent]="true">
  <ion-toolbar class="header-footer-background-color">
    <div id="footer" style="font-size: 10px;" class="header-footer-component">
      <ion-button routerLink="/thome"  fill="clear">
        <ion-icon slot="icon-only" name="home" size="large" class="header-footer-component"></ion-icon>
      </ion-button>
      <br><b>முகப்பு பக்கம்</b>
    </div>
  </ion-toolbar>
</ion-footer>