<ion-header>
  <ion-toolbar>
    <ion-title>scrops</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content style="--background: rgb(19, 1, 1);">

  <br>
  <ion-item (click)="brinjalselect()" routerLink="/scrops/sbrinjal" style="--background: rgb(19, 1, 1);">
    <img src="assets/bri.webp"><ion-label style="color: #5cf304; font-size: 22px;">වම්බටු</ion-label>
    <ion-icon name="chevron-forward-outline" style="color: #5cf304;" slot="end"></ion-icon>
  </ion-item>

  <br>
  <ion-item style="--background: rgb(19, 1, 1);">
    <img src="assets/banana.png"><ion-label style="color: #5cf304; font-size: 22px;">කෙසෙල්</ion-label>
    <ion-icon name="chevron-forward-outline" style="color: #5cf304;" slot="end"></ion-icon>
  </ion-item>

  <br>
  <ion-item style="--background: rgb(19, 1, 1);">
      <img  src="assets/bitterground.png"><ion-label style="color: #5cf304; font-size: 22px;">	කරවිල</ion-label>
      <ion-icon name="chevron-forward-outline" style="color: #5cf304;" slot="end"></ion-icon>
  </ion-item>

  <br>
  <ion-item style="--background: rgb(19, 1, 1);">   
      <img src="assets/carrot.png"><ion-label style="color: #5cf304; font-size: 22px;">කැරට්</ion-label>
      <ion-icon name="chevron-forward-outline" style="color: #5cf304;" slot="end"></ion-icon>
  </ion-item>

  <br>
  <ion-item style="--background: rgb(19, 1, 1);">
      <img src="assets/cassava.png"><ion-label style="color: #5cf304; font-size: 22px;">	මඤ්ඤොක්කා </ion-label>
      <ion-icon name="chevron-forward-outline" style="color: #5cf304;" slot="end"></ion-icon>
  </ion-item>

</ion-content>


