/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

.header-footer-background-color{
    --background: #49bd06c0;
    }

.header-footer-component{
    color: white;
    }

#footer{
    text-align: center;
    top: 0%;
  }

  ion-radio {
    width: 30px;
    height: 30px;
  }

  ion-radio::part(container) {
    border: 2px solid rgb(19, 1, 1);
  }

  ion-radio::part(mark) {
    background: none;
    transition: none;
    transform: none;
    border-radius: 0;
  }

  ion-radio.radio-checked::part(container) {
    background: #fbfbfc;
    border-color: transparent;
  }

  ion-radio.radio-checked::part(mark) {
    width: 6px;
    height: 10px;

    border-width: 0px 2px 2px 0px;
    border-style: solid;
    border-color: rgb(19, 1, 1);

    transform: rotate(45deg);
  }

  .select-interface-option .alert-radio-label,
  .select-interface-option .alert-checkbox-label {
    white-space: normal !important;
    color: #ffffff !important;
  }

  .select-interface-option{
    background-color: rgb(19, 1, 1) !important;
    height: 70px !important;
  }

  .alert-head, .alert-button-group, .alert-radio-inner, .alert-checkbox-inner{
    background-color: #348804da !important;
  }

  .alert-button{
    background-color: clear !important;
    color: #ffffff !important;
    border-radius: 10px !important;
  }

  .alert-radio-icon, .alert-checkbox-icon{
    border-color: #348804da !important;
  }

  .alert-title{
    color: #ffffff !important;
  }


