<ion-header>
  <ion-toolbar class="header-footer-background-color">

    <ion-buttons slot="start" (click)="closeModal()">
      <ion-icon slot="icon-only" name="arrow-back-outline" class="header-footer-component"></ion-icon>
    </ion-buttons>

    <ion-title class="header-footer-component">{{variety.variety_name}}</ion-title>


  </ion-toolbar>
</ion-header>

<ion-content style="--background: rgb(19, 1, 1);" >

  <p style="font-size:24px; text-align:center; color: white;"><b>Choose pest or diseases</b></p>
  <br>

    <ion-item style= "--background: rgb(19, 1, 1);" (click)="openpestModal(variety)">
      <img src="/assets/pest.jpg" slot="start" style="width:50px;height:50px;">
      <ion-text style="font-size:20px;color: #ffffff;">Pests</ion-text>
      <ion-icon name="chevron-forward-outline" slot="end" style="color: #5cf304;"></ion-icon>
    </ion-item> <br>

    <ion-item style= "--background: rgb(19, 1, 1);" (click)="opendiseaseModal(variety)">
      <img src="/assets/diseases.jpg" slot="start" style="width:50px;height:50px;">
      <ion-text style="font-size:20px;color: #ffffff;">Diseases</ion-text>
      <ion-icon name="chevron-forward-outline" slot="end" style="color: #5cf304;"></ion-icon>
    </ion-item>



</ion-content>

<ion-footer [translucent]="true">
  <ion-toolbar  class="header-footer-background-color">
    <div id="footer" class="header-footer-component">
      <ion-button routerLink="/firstpage"  fill="clear" (click)="closeAllModals()">
        <ion-icon slot="icon-only" name="home" size="large" class="header-footer-component"></ion-icon>
      </ion-button>
      <br>Home
    </div>
  </ion-toolbar>
</ion-footer>
