<ion-header>
  <ion-toolbar>
    <ion-title>tdetect</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item>
    <ion-text style="font-size:17px">Select crop or crop and variety to read about pest and diseases</ion-text>
    <img src="/assets/read.png" slot="start" style="width:50px;height:50px;">
    <ion-icon name="chevron-forward-outline" slot="end"></ion-icon>
  </ion-item> <br>


  <ion-item>
    <ion-text style="font-size:17px">Answer the questions to detect pest and diseases</ion-text>
    <img src="/assets/select.png" slot="start" style="width:50px;height:50px;">
    <ion-icon name="chevron-forward-outline" slot="end"></ion-icon>
  </ion-item> <br>


  <ion-item>
    <ion-text style="font-size:17px">Take a picture to detect pest and diseases</ion-text>
    <img src="/assets/camera1.jpg" slot="start" style="width:50px;height:50px;">
    <ion-icon name="chevron-forward-outline" slot="end"></ion-icon>
  </ion-item>


</ion-content>
